.container {
  display: flex;
  align-items: center;
  width: 100%;

  &:first-child {
    justify-content: flex-end;
  }

  &:last-child {
    justify-content: flex-start;
  }

  @media (max-width: 660px) {
    position: relative;
    width: 50%;

    &:first-child {
        right: 2.5%;
    }

    &:last-child {
        left: 2.5%;
    }
  }

  @media (max-width: 550px) {
    width: 60%;
  }

  @media (max-width: 500px) {
    width: 65%;
  }

  & .frame {
    position: relative;
    display: flex;
    flex-basis: 90%;
    max-width: 480px;
    aspect-ratio: var(--image-aspect-ratio);
    padding: 2rem 1.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.unpicked {
      background-color: var(--whimsical-frame-bg-color);
      mask-image: url('/src/assets/player-frame.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;

      &:hover {
        background-color: var(--whimsical-frame-highlight-color);
      }
    }

    @media (max-width: 900px) {
      & {
        padding: 6.25% 6% 7% 6%;
      }
    }

    &.correct {
        background-color: rgb(122,199,2);
        mask-image: url('/src/assets/player-frame.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;

        &:hover:not(.disabled) {
          background-color: rgb(161, 237, 37);
        }
    }

    &.incorrect {
        background-color: rgb(228, 44, 32);
        mask-image: url('/src/assets/player-frame.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;

        &:hover:not(.disabled) {
          background-color: rgb(247, 82, 70);
        }
    }
  }

  &.raised {
    &.left {
      animation: bouncy-in-thisimg 0.5s forwards;
    }

    &.right {
      animation: bouncy-in-thatimg 0.5s forwards;
    }
  }

  &.lowered {
    &.left {
      animation: bouncy-out-thisimg 0.5s forwards;
    }

    &.right {
      animation: bouncy-out-thatimg 0.5s forwards;
    }
  }
}

.container:has(button:focus) {
  .frame.unpicked {
    background-color: var(--whimsical-frame-highlight-color);
  }
}

.pole {
  z-index: -1;

  &.left {
    transform-origin: 100% 0;
    transform: translateX(20px) scaleX(10);
  }

  &.right {
    transform-origin: 0 0;
    transform: translateX(-20px) scaleX(10);
  }
}

.audioFigure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 100%;
  padding: 2em 0.5em;
  background-color: #fcf3e3;
  color: #000;

  border-radius: 1em;

  @media (max-width: 700px) {
    padding: 1em 0.5em;
  }

  audio {
    width: 100%;
    margin: 0 auto;
  }

  & figcaption {
    padding: 1em 1.5em;
    font-weight: 400;
    font-family: var(--regular-font);

    @media (max-width: 700px) {
        padding: 0.25em 0.5em;
    }
  }
}

.videoFrame {
  border: none;
}

.lightboxVideoFrame {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.textChoice {
  font-family: var(--regular-font);
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  padding: 10px;
}

@keyframes bouncy-in-thisimg {
  0% {
    transform: translate(-100%, 0);
  }
  50% {
    transform: translate(5%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bouncy-in-thatimg {
  0% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(-5%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bouncy-out-thisimg {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes bouncy-out-thatimg {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
