@import "assets/css/icomoon.css";

@font-face {
	font-family: 'fha_nicholson_french_ncvRg';
	src: url('assets/fonts/fha_nicholson_french_ncv-webfont.eot');
	src: url('assets/fonts/fha_nicholson_french_ncv-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/fha_nicholson_french_ncv-webfont.woff2') format('woff2'),
		 url('assets/fonts/fha_nicholson_french_ncv-webfont.woff') format('woff'),
		 url('assets/fonts/fha_nicholson_french_ncv-webfont.ttf') format('truetype'),
		 url('assets/fonts/fha_nicholson_french_ncv-webfont.svg#fha_nicholson_french_ncvRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// mixins

@mixin clearfix {
  &:after {
	content: "";
	display: table;
	height: 0;
	clear: both;
	visibility: hidden;
  }
}

// END mixins

// Color palette.
   $lighter: rgba(255,255,255,0.10);
    $darker: rgba(0,0,0,0.4);
     $green: #70bd34;
       $red: #e42b20;
$background: #223863;

input:focus,
select:focus,
textarea:focus,
button:focus { outline : none; }

textarea { resize : none; }

html, body {
	background: $background url('assets/img/creator-bg.png');
	color: #fff;
	font-family: 'Lato', verdana, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

ul { list-style-type : none; }

.btn {
	display: inline-block;
	padding: 8px 10px;
	position: relative;

	color: #ffffff;
	font-size: 14px;
	font-family: 'fha_nicholson_french_ncvRg';
	text-shadow: 0 3px 3px rgba(0,0,0,0.3);
	text-transform: uppercase;
	

	background: #5fac4b;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);

	cursor: pointer;
	-webkit-appearance: none;

	&:hover { background: #73D15A; }

	&.small {
		padding: 4px 8px;

		font-size: 11px;
		text-shadow: 0 2px 2px rgba(0,0,0,0.3);

		box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	}

	&.blue {
		background: #62A0B9;

		&:hover { background: lighten(#62A0B9, 5%); }
	}

	&.transparent {
		background: transparent;
		box-shadow: none;

		&:hover { background: #62A0B9; }
	}
}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #62A0B9;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);
	padding: 13px 8px;
	z-index: 100;

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.right {
		position:absolute;
		right: 30px;
		top: 22px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
		cursor: pointer;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

body {
	position   : absolute;
	top        : 0;
	left       : 0;
	height     : 100%;
	width      : 100%;
	overflow-x : hidden;
	-webkit-backface-visibility : hidden;
}

.container {
	margin: 24px auto;
	max-width: 840px;
}

.message {
	margin-bottom: 10px;
	padding: 10px;

	color: rgba(0,0,0,0.6);

	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);

	p:last-of-type { margin: 0; }

	&.warning { background-color: #ffd66f; }
}

.input-wrap {
	margin: 10px 0 0;
	padding: 4px;

	border: 2px solid $lighter;
	border-radius: 8px;

	input {
		box-sizing: border-box;
		display: inline-block;
		width: 100%;

		padding: 6px 12px;

		color: #fff;
		font-size: 1em;

		background: $lighter;
		border: 0;
		border-radius: 4px;
	}
}

.arrow-box {
	position: absolute;
	background: #ffd66f;
	border-radius: 4px;
	left: 50%;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	padding: 6px 12px;
	width: 150px;
	margin-top: 10px;
	margin-left: -87px;
	text-align: center;
	-webkit-animation: pounce 1s infinite;
			animation: pounce 1s infinite;

	&:before {
		left: 50%;
		top: 0;
		border: solid transparent;
		border-bottom-color: #ffd66f;
		border-width: 12px;
		margin: -24px 0 0 -12px;
		content: " ";
		position: absolute;
		pointer-events: none;
	}
}

@-webkit-keyframes pounce {
	0%   { margin-top: 10px; }
	50%  { margin-top: 15px; }
	100% { margin-top: 10px; }
}

@keyframes pounce {
	0%   { margin-top: 10px; }
	50%  { margin-top: 15px; }
	100% { margin-top: 10px; }
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	border-radius: 8px;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p { margin: 24px 0px; }

	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 20px 10px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		border-radius: 4px;
		vertical-align: baseline;
		font-size: 18px;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

.question-container {
	position: relative;
}

.question-slider {
	position: relative;

	display: block;
	box-sizing: border-box;
	padding: 6px;
	margin-bottom: 24px;

	border: 4px solid $darker;
	border-radius: 12px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

	overflow: hidden;
}

.question {
	max-width: 820px;

	padding: 10px;

	background-color: $darker;
	border-radius: 8px;
	box-sizing: border-box;
	transition: background-color ease 5s;

	@include clearfix;

	&.sliding-left  { animation: question-out-right 0.2s, question-in-left 0.2s 0.2s; }
	&.sliding-right { animation: question-out-left 0.2s, question-in-right 0.2s 0.2s; }
	&.adding        { animation: question-out-left 0.3s, question-in-up 0.3s 0.3s; }
	&.removing      { animation: question-out-down 0.3s, question-in-right 0.3s 0.3s; }
	&.removing-last { animation: question-out-down 0.3s, question-in-left 0.3s 0.3s; }

	//transition animations
	@keyframes question-out-left {
		from  { transform: translate(0, 0); }
		to    { transform: translate(-100%, 0); }
	}

	@keyframes question-out-right {
		from  { transform: translate(0, 0); }
		to    { transform: translate(100%, 0); }
	}

	@keyframes question-in-left {
		from  { transform: translate(-100%, 0); }
		to    { transform: translate(0, 0); }
	}

	@keyframes question-in-right {
		from  { transform: translate(100%, 0); }
		to    { transform: translate(0, 0); }
	}

	@keyframes question-in-up {
		from  { background: fade-out($green, 0.1); transform: translate(0, -100%); }
		to    { background: $darker; transform: translate(0, 0); }
	}

	@keyframes question-out-down {
		from  { background: fade-out($red, 0.1); transform: translate(0, 0); }
		to    { background: $darker; transform: translate(0, 100%); }
	}

	.question-header {
		margin-bottom: 10px;
		padding: 0 0 10px;

		font-family: 'fha_nicholson_french_ncvRg', serif;

		border-bottom: 2px solid $lighter;

		@include clearfix;

		.title {
			display: inline-block;
			margin: 0;
			max-width: 540px;
			width: 100%;
		}

		h1 {
			display: inline-block;
			margin: 0;
			width: 200px;

			line-height: 1;

			span {
				margin-right: 8px;

				color: rgba(255,255,255,0.5);
			}
		}

		.delete {
			float: right;

			background: #e42b20;
		}
	}

	.choices {
		position: relative;

		margin: 0 auto 10px;
		max-width: 750px;

		@include clearfix;

		.frame-container { max-width: 340px; }

		.desc {
			margin: 0;

			font-size: 1.3em;
			font-family: 'fha_nicholson_french_ncvRg';
			color: #fff;
			text-align: center;
		}

		.img-frame {
			box-sizing: border-box;
			height: 302px;
			padding: 20px;
			width: 340px;

			background: url('assets/img/frame.png') no-repeat center;

			cursor: pointer;
			transition: background ease .5s;

			&:hover { background: url('assets/img/frame-hover.png') no-repeat center; }

			&.correct { background: url('assets/img/correct-frame.png') no-repeat center; }

			&.incorrect { background: url('assets/img/incorrect-frame.png') no-repeat center; }

			.choice-img {
				height: 250px;
				width: 300px;

				border-radius: 4px;
			}
		}

		.img-controls {
			margin-top: -15px;

			text-align: center;
		}
	}
}

.prev,
.next {
	position: absolute;
	top: 50%;

	display: block;
	height: 32px;
	margin-top: -10px;
	width: 32px;

	font-family: 'fha_nicholson_french_ncvRg';
	font-size: 14px;
	line-height: 1;

	background: $green;
	border: 0;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);
	box-sizing: border-box;
	color: #fff;
	text-shadow: 0 3px 3px rgba(0,0,0,0.3);

	cursor: pointer;
}

.prev { left: -40px; }
.next { right: -40px; }

.dots {
	margin: 0 0 10px;
	padding: 0;
	max-width: 690px;
	width: 100%;

	li {
		display: inline-block;
		margin-right: 6px;

		text-align: left;

		&:last-of-type { margin-right: 0; }

		button {
			display: block;
			height: 40px;
			width: 40px;

			font-family: 'fha_nicholson_french_ncvRg';
			font-size: 14px;
			line-height: 1;

			background: transparent;
			border: 4px solid $green;
			border-radius: 50%;
			box-shadow: 0 3px 6px rgba(0,0,0,0.3);
			box-sizing: border-box;
			color: #fff;
			text-shadow: 0 3px 3px rgba(0,0,0,0.3);

			cursor: pointer;

			&.active { background: $green; }
		}
	}
}

@keyframes fancy-fade {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.left { float: left !important; }
.right { float: right !important; }
.no-margin { margin: 0 !important; }
.text-center { text-align: center !important; }
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}