<!DOCTYPE html>
<html ng-app="FlashcardsCreator">
	<head>
		<title>Flash Cards Creator</title>
		<meta charset='utf-8'/>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js'></script>
		<script src="assets/js/modernizr.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app='FlashcardsCreator' ng-controller="FlashcardsCreatorCtrl">
		<div id="modal"></div>
		<div id='header'>
			<div class='logo'></div>
			<h1 id='title' ng-bind='title' ng-click='showTitleDialog = true'></h1>
			<div class='link' ng-click='showTitleDialog = true'>Edit...</div>
			<div class='right'>{{cards.length}} Cards</div>
		</div>
		<ul aria-label="cards">
			<li class="titles" aria-hidden="true" ng-show='cards.length'>
				<h3>Front</h3><h3>Back</h3>
			</li>
			<li
			class="card"
			role="flashcard"
			ng-repeat="card in cards">
				<span class="num">{{$index+1}}</span>
				<span class="face" aria-label="Card back.">
					<center>
					<input
					placeholder='Enter a picture header here.'
					value="{{card.back}}"
					ng-hide=" card.URLs[1] == '' "
					ng-model="card.back"/>
					<textarea
					placeholder='Enter text here.'
					value="{{card.back}}"
					ng-class="{title : card.URLs[1] != ''}"
					ng-hide=" card.URLs[1] != '' "
					ng-model="card.back" tabindex='{{$index+2}}'></textarea>
					<img
					ng-hide=" card.URLs[1] == '' "
					ng-src="{{card.URLs[1]}}"/>
					<button
					class="del-img"
					aria-label="Delete image."
					ng-hide=" card.URLs[1] == '' "
					ng-click="deleteImage($index, 1)">
						<span class="icon-close"></span>
						<span class="descript del">remove image</span>
					</button>
					</center>
					<div
					class="alert"
					ng-class="{hide : card.back.length < 51 || card.URLs[1] == '' }">
						<span class="icon-alert"></span> 
						Reduce your text to fit the card.
					</div>
					<button
					aria-label="Add Image."
					ng-hide=" card.URLs[1] != '' "
					ng-click="requestImage($index, 1)">
						<span class="icon-image"></span>
						<span class="descript add">add image</span>
					</button>
				</span>
				<span class="face" aria-label="Card front.">
					<center>
					<input
					placeholder='Enter a picture header here.'
					value="{{card.front}}"
					ng-hide=" card.URLs[0] == '' "
					ng-model="card.front"/>
					<textarea
					placeholder='Enter text here.'
					value="{{card.front}}"
					ng-class="{title : card.URLs[0] != ''}"
					ng-hide=" card.URLs[0] != '' "
					ng-model="card.front" focus-me="true" tabindex="{{$index+1}}"></textarea>
					<img
					ng-hide=" card.URLs[0] == '' "
					ng-src="{{card.URLs[0]}}"/>
					<button
					class="del-img"
					aria-label="Delete image."
					ng-hide=" card.URLs[0] == '' "
					ng-click="deleteImage($index, 0)">
						<span class="icon-close"></span>
						<span class="descript del">remove image</span>
					</button>
					</center>
					<div
					class="alert"
					ng-class="{hide : card.front.length < 51 || card.URLs[0] == '' }">
						<span class="icon-alert"></span> 
						Reduce your text to fit the card.
					</div>
					<button
					aria-label="Add Image."
					ng-hide=" card.URLs[0] != '' "
					ng-click="requestImage($index, 0)">
						<span class="icon-image"></span>
						<span class="descript add">add image</span>
					</button>
				</span>
				<button
				class="delete"
				aria-label="Delete card."
				ng-click="removeCard($index)">
					<span class="icon-close"></span>
					<span class="descript">remove card</span>
				</button>
			</li>
			<li><button
				id="add-card"
				class="add"
				aria-label="Add Card."
				ng-click="addCard()" tabindex='{{cards.length + 1}}'>
				<span class="icon-plus"></span> Add Card</button>
			</li>
		</ul>

		<div id='backgroundcover' ng-click='hideCover()' ng-class='{ show: showTitleDialog || showIntroDialog }'></div>
		<div class='box intro' ng-class='{ show: showIntroDialog }'>
			<img src='assets/creatorexample.png'>
			<h1>Flash Cards</h1>
			<p>Create cards in a virtual deck.</p>
			<p>Students can remove cards and shuffle cards to help them study.</p>
			<p>No score is recorded for this widget.</p>
			<hr>
			<b>Start by giving your Flash Cards widget a title</b><br>
			<input type='text' placeholder='My Flash Cards widget' ng-model='introTitle' autofocus='1' ng-enter='setTitle()' focus-me='showIntroDialog'>
			<input type='button' value='Get Started' ng-click='setTitle()'>
		</div>
		<div class='box title' ng-class='{ show: showTitleDialog }'>
			<b>Give your Flash Cards widget a title</b><br>
			<input type='text' placeholder='My Flash Cards widget' ng-model='title' ng-enter='hideCover()' focus-me='showTitleDialog'>
			<input type='submit' value='Done' ng-click='hideCover()'>
		</div>
		<div class='arrow_box' ng-show='!cards.length && step'>
			<span>Click here to add your first card</span>
		</div>
	</body>
</html>

