<!DOCTYPE html>
<html ng-app="ThisOrThatCreator">
	<head>
		<title>This or That Creator</title>
		<meta charset='utf-8'/>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.min.js"></script>
		<script src="assets/js/modernizr.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app="ThisOrThatCreator" ng-controller="ThisOrThatCreatorCtrl">
		<div id="modal"></div>

		<div id="header">
			<div class="logo"></div>
			<h1 id="title" ng-bind="title" ng-click="showTitleDialog = true"></h1>
			<div class="link" ng-click="showTitleDialog = true">Edit...</div>
			<div class="right">{{questions.length}} Questions</div>
		</div>

		<main class="container" role="main">
			<div class="question-container">
				<div class="question-slider" ng-class="{ 'activated': questions[0] }">
					<section class="question"
							 ng-class="{ 'sliding-in': actions.slidein, 'sliding-left': actions.slideleft, 'sliding-right': actions.slideright, 'removing': actions.remove, 'removing-last': actions.removelast, 'adding': actions.add }">
						<header class="question-header">
							<button class="btn delete"
									aria-label="Delete card."
									ng-click="removeQuestion(currIndex)"
									ng-disabled="questions.length < 2">
								<span class="icon-cross" aria-hidden="true"></span>
								<span class="sr-only">Remove question</span>
							</button>

							<h1>Question {{currIndex + 1}}:</h1>

							<div class="input-wrap title">
								<input type="text" ng-model="questions[currIndex].title" placeholder="Ex: Which of these video games is for casuals?">
							</div>
						</header>

						<div class="choices">
							<section class="frame-container left">
								<h2 class="desc">The correct image</h2>
								<div class="img-frame correct" aria-label="The correct image">
									<img class="choice-img" ng-src="{{questions[currIndex].URLs[0]}}"  alt="{{questions[currIndex].alt[0]}}">
								</div>

								<div class="img-controls">
									<button class="btn small blue" ng-click="requestImage(currIndex, 0)">Upload</button>
									<button class="btn small blue" ng-click="clearImage(currIndex, 0)">Clear</button>
								</div>

								<div class="input-wrap">
									<input type="text"
										   placeholder="Alt text for the correct image"
										   ng-model="questions[currIndex].alt[0]">
								</div>
							</section>

							<section class="frame-container right">
								<h2 class="desc">The incorrect image</h2>
								<div class="img-frame incorrect" aria-label="The incorrect image">
									<img class="choice-img" ng-src="{{questions[currIndex].URLs[1]}}"  alt="{{questions[currIndex].alt[1]}}">
								</div>

								<div class="img-controls">
									<button class="btn small blue" ng-click="requestImage(currIndex, 1)">Upload</button>
									<button class="btn small blue" ng-click="clearImage(currIndex, 1)">Clear</button>
								</div>

								<div class="input-wrap">
									<input type="text"
										   placeholder="Alt text for the incorrect image"
										   ng-model="questions[currIndex].alt[1]">
								</div>
							</section>
						</div>

						<p class="no-margin" style="text-align:right">
							<button class="btn small transparent"
									ng-click="addQuestion(questions[currIndex].title, ['',''], [questions[currIndex].alt[0],questions[currIndex].alt[1]])">Duplicate</button>
						</p>
					</section>
				</div>

				<button class="prev"
						type="button"
						ng-click="prev()"
						ng-disabled="questions.length < 2">
					<span class="icon-backward2" aria-hidden="true"></span>
					<span class="sr-only">Back</span>
				</button>

				<button class="next"
						type="button"
						ng-click="next()"
						ng-disabled="questions.length < 2">
					<span class="icon-forward3" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</button>
			</div>

			<nav class="question-nav">
				<ul class="dots left" ng-show="questions[0]">
					<li ng-repeat="question in questions">
						<button type="button"
								ng-class="{active: currIndex == $index}"
								ng-click="selectCurrent($index)"
								ng-disabled="questions.length < 2">{{$index + 1}}</button>
					</li>
				</ul>

				<button class="btn add"
						id="add-question"
						aria-label="Add Question"
						ng-class="{'right': questions[0]}"
						ng-click="addQuestion()">Add Question</button>
			</nav>
		</main>

		<div id="backgroundcover" ng-class="{ show: showTitleDialog || showIntroDialog }"></div>

		<div class="box intro" ng-class="{ show: showIntroDialog }">
			<img src="assets/creatorexample.png">

			<h1>This or That</h1>

			<p>Compare two images against a subject.</p>
			<p>Students can remove cards and shuffle cards to help them study.</p>
			<p class="no-margin">A score may be recorded for this widget.</p>

			<hr>

			<p class="no-margin"><strong>Start by giving your This or That widget a title</strong></p>

			<input type="text"
					placeholder="My This or That widget"
					autofocus="1"
					ng-model="introTitle"
					ng-enter="setTitle()">

			<input type="button" value="Get Started" ng-click="setTitle()">
		</div>

		<div class="box title" ng-class="{ show: showTitleDialog }">
			<strong>Give your This or That widget a title</strong><br>
			<input type="text" placeholder="My This or That widget" ng-model="title" ng-enter="hideCover()" focus-me="showTitleDialog">
			<input type="submit" value="Done" ng-click="hideCover()">
		</div>

		<div class="arrow-box" ng-show="!questions.length && step">
			<span>Click here to add your first question</span>
		</div>
	</body>
</html>

