// mixins

@mixin clearfix {
  &:after {
	content: "";
	display: table;
	height: 0;
	clear: both;
	visibility: hidden;
  }
}

// END mixins

@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon-creator.eot');
	src:url('assets/fonts/icomoon-creator.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/icomoon-creator.woff') format('woff'),
		url('assets/fonts/icomoon-creator.ttf') format('truetype'),
		url('assets/fonts/icomoon-creator.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'fha_nicholson_french_ncvRg';
    src: url('assets/fonts/fha_nicholson_french_ncv-webfont.eot');
    src: url('assets/fonts/fha_nicholson_french_ncv-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.woff2') format('woff2'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.woff') format('woff'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.ttf') format('truetype'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.svg#fha_nicholson_french_ncvRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-alert, .icon-plus, .icon-close, .icon-rotate, .icon-image, .icon-rdio-u, .icon-rdio-c {
	font-family    : 'icomoon';
	speak          : none;
	font-style     : normal;
	font-weight    : normal;
	font-variant   : normal;
	text-transform : none;
	line-height    : 1;
	-webkit-font-smoothing : antialiased;
}
.icon-alert:before  {content: "\e006";}
.icon-plus:before   {content: "\e007";}
.icon-close:before  {content: "\e008";}
.icon-rotate:before {content: "\e001";}
.icon-image:before  {content: "\e000";}
.icon-rdio-u:before {content: "\e002";}
.icon-rdio-c:before {content: "\e003";}

// Color palette.
$light-blue: #223766;
$green: #70bd34;
$a : #223863;
$b : #44382A;
$c : #6B6263;
$d : #543F3D;
$e : #A45B5B;
$f : #87735F;

input:focus,
select:focus,
textarea:focus,
button:focus { outline : none; }

textarea { resize : none; }

html, body {
	background: $a url('assets/img/creator-bg.png');
	color: #fff;
	font-family: 'Lato', verdana, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

ul { list-style-type : none; }

.btn {
	display: inline-block;
	padding: 8px 16px;
	position: relative;

	color: #ffffff;
	font-size: 14px;
	font-family: 'fha_nicholson_french_ncvRg';
	text-shadow: 0 3px 3px rgba(0,0,0,0.3);
	text-transform: uppercase;
	

	background: #5fac4b;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);

	cursor: pointer;
	-webkit-appearance: none;

	&:hover { background: #73D15A; }

	&.small {
		padding: 4px 8px;

		font-size: 11px;
		text-shadow: 0 2px 2px rgba(0,0,0,0.3);

		box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	}

	&.blue {
		background: #62A0B9;

		&:hover { background: lighten(#62A0B9, 5%); }
	}

	&.transparent {
		background: transparent;
		box-shadow: none;

		&:hover { background: #62A0B9; }
	}
}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #62A0B9;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);
	padding: 13px 8px;
	z-index: 100;

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.right {
		position:absolute;
		right: 30px;
		top: 22px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
		cursor: pointer;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

body {
	position   : absolute;
	top        : 0;
	left       : 0;
	height     : 100%;
	width      : 100%;
	overflow-x : hidden;
	-webkit-backface-visibility : hidden;
}

.container {
	margin: 24px auto;
	max-width: 851px;
}

.message {
	margin-bottom: 16px;
	padding: 16px;

	color: rgba(0,0,0,0.6);

	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);

	p:last-of-type { margin: 0; }

	&.warning { background-color: #ffd66f; }
}

#questions {
	.question {
		padding: 16px;
		margin: 0 0 24px;

		background: rgba(0,0,0,0.4);
		border-radius: 8px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.3);

		@include clearfix;

		.question-header {
			margin-bottom: 16px;
			padding: 0 0 16px;

			font-family: 'fha_nicholson_french_ncvRg', serif;

			border-bottom: 2px solid $light-blue;

			@include clearfix;

			.title {
				display: inline-block;
				margin: 0;
				max-width: 560px;
				width: 100%;
			}

			h1 {
				display: inline-block;
				margin: 0;
				width: 178px;

				line-height: 1;

				span {
					margin-right: 8px;

					color: rgba(255,255,255,0.5);
				}
			}

			.delete {
				float: right;

				background: #e42b20;
			}
		}

		.choices {
			position: relative;

			margin: 0 auto 16px;
			max-width: 750px;

			@include clearfix;

			.frame-container { max-width: 340px; }

			.img-frame {
				box-sizing: border-box;
				height: 302px;
				padding: 20px;
				width: 340px;

				background: url('assets/img/frame.png') no-repeat center;

				cursor: pointer;
				transition: background ease .5s;

				&:hover { background: url('assets/img/frame-hover.png') no-repeat center; }

				&.correct { background: url('assets/img/correct-frame.png') no-repeat center; }

				&.incorrect { background: url('assets/img/incorrect-frame.png') no-repeat center; }

				.choice-img {
					height: 250px;
					width: 300px;

					border-radius: 4px;
				}

				.desc {
					position: absolute;

					width: 300px;

					font-size: 18px;
					font-family: 'fha_nicholson_french_ncvRg';
					color: #666;
					text-align: center;
				}
			}

			.img-controls {
				margin-top: -15px;

				text-align: center;
			}
		}
	}
}

.input-wrap {
	margin: 16px 0 0;
	padding: 4px;

	border: 2px solid $light-blue;
	border-radius: 8px;

	input {
		box-sizing: border-box;
		display: inline-block;
		width: 100%;

		padding: 6px 12px;

		color: #fff;
		font-size: 1em;

		background: $light-blue;
		border: 0;
		border-radius: 4px;
	}
}

.arrow-box {
	position: absolute;
	background: #ffd66f;
	border-radius: 4px;
	left: 50%;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	padding: 6px 12px;
	width: 150px;
	margin-top: 10px;
	margin-left: -87px;
	text-align: center;
	-webkit-animation: pounce 1s infinite;
			animation: pounce 1s infinite;

	&:before {
		left: 50%;
		top: 0;
		border: solid transparent;
		border-bottom-color: #ffd66f;
		border-width: 12px;
		margin: -24px 0 0 -12px;
		content: " ";
		position: absolute;
		pointer-events: none;
	}
}

@-webkit-keyframes pounce {
	0%   { margin-top: 10px; }
	50%  { margin-top: 15px; }
	100% { margin-top: 10px; }
}

@keyframes pounce {
	0%   { margin-top: 10px; }
	50%  { margin-top: 15px; }
	100% { margin-top: 10px; }
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

.left { float: left !important; }
.right { float: right !important; }
.no-margin { margin: 0 !important; }
.text-center { text-align: center !important; }