<!DOCTYPE html>
<html ng-app="ThisOrThatCreator">
	<head>
		<title>This or That Creator</title>
		<meta charset='utf-8'/>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.min.js"></script>
		<script src="assets/js/modernizr.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app="ThisOrThatCreator" ng-controller="ThisOrThatCreatorCtrl">
		<div id="modal"></div>

		<div id="header">
			<div class="logo"></div>
			<h1 id="title" ng-bind="title" ng-click="showTitleDialog = true"></h1>
			<div class="link" ng-click="showTitleDialog = true">Edit...</div>
			<div class="right">{{questions.length}} Questions</div>
		</div>

		<main class="container" role="main">
			<div class="message warning">
				<p>Images uploaded should be 300x250 pixels</p>
			</div>

			<div id="questions">
				<section class="question" ng-repeat="question in questions">
					<header class="question-header">
						<button class="btn delete"
								aria-label="Delete card."
								ng-click="removeQuestion($index)">
							<span class="icon-close"></span>
						</button>

						<h1>Question {{$index + 1}}:</h1>

						<div class="input-wrap title">
							<input type="text" ng-model="questions[$index].title" placeholder="Ex: Which of these video games is for casuals?">
						</div>
					</header>

					<div class="choices">
						<section class="frame-container left">
							<h2 class="desc">The correct image</h2>
							<div class="img-frame correct" aria-label="The correct image">
								<img class="choice-img" src="http://placehold.it/300x250" ng-src="{{questions[$index].URLs[0]}}"  alt="{{questions[$index].answers.options[0].alt}}">
							</div>

							<div class="img-controls">
								<button class="btn small blue" ng-click="requestImage($index, 0)">Upload</button>
								<button class="btn small blue" ng-click="clearImage($index, 0)">Clear</button>
							</div>

							<div class="input-wrap">
								<input type="text"
									   placeholder="Alt text for the correct image"
									   ng-model="questions[$index].answers.options[0].alt">
							</div>
						</section>

						<section class="frame-container right">
							<h2 class="desc">The incorrect image</h2>
							<div class="img-frame incorrect" aria-label="The incorrect image">
								<img class="choice-img" src="http://placehold.it/300x250" ng-src="{{questions[$index].URLs[1]}}"  alt="{{questions[$index].answers.options[1].alt}}">
							</div>

							<div class="img-controls">
								<button class="btn small blue" ng-click="requestImage($index, 1)">Upload</button>
								<button class="btn small blue" ng-click="clearImage($index, 1)">Clear</button>
							</div>

							<div class="input-wrap">
								<input type="text"
									   placeholder="Alt text for the incorrect image"
									   ng-model="questions[$index].answers.options[1].alt">
							</div>
						</section>
					</div>

					<p class="no-margin" style="text-align:right">
						<button class="btn small transparent" ng-click="addQuestion(questions[$index].title, questions[$index].answers)">Duplicate</button>
					</p>
				</section>
			</div>

			<div class="add-container text-center ">
				<button id="add-question" class="btn add" aria-label="Add Question" ng-click="addQuestion()">Add Question</button>
			</div>
		</main>

		<div id='backgroundcover'
			 ng-click='hideCover()'
			 ng-class='{ show: showTitleDialog || showIntroDialog }'></div>

		<div class='box intro' ng-class='{ show: showIntroDialog }'>
			<img src='assets/creatorexample.png'>

			<h1>This or That</h1>

			<p>Compare two images against a subject.</p>
			<p>Students can remove cards and shuffle cards to help them study.</p>
			<p>A score may be recorded for this widget.</p>

			<hr>

			<p class="no-margin"><strong>Start by giving your This or That widget a title</strong></p>

			<input type='text'
					placeholder='My This or That widget'
					ng-model='introTitle'
					autofocus='1'
					ng-enter='setTitle()'
					focus-me='showIntroDialog'>

			<input type='button' value='Get Started' ng-click='setTitle()'>
		</div>

		<div class='box title' ng-class='{ show: showTitleDialog }'>
			<strong>Give your This or That widget a title</strong><br>
			<input type='text' placeholder='My This or That widget' ng-model='title' ng-enter='hideCover()' focus-me='showTitleDialog'>
			<input type='submit' value='Done' ng-click='hideCover()'>
		</div>

		<div class='arrow-box' ng-show='!questions.length && step'>
			<span>Click here to add your first question</span>
		</div>
	</body>
</html>

