@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon-creator.eot');
	src:url('assets/fonts/icomoon-creator.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/icomoon-creator.woff') format('woff'),
		url('assets/fonts/icomoon-creator.ttf') format('truetype'),
		url('assets/fonts/icomoon-creator.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-alert, .icon-plus, .icon-close, .icon-rotate, .icon-image, .icon-rdio-u, .icon-rdio-c {
	font-family    : 'icomoon';
	speak          : none;
	font-style     : normal;
	font-weight    : normal;
	font-variant   : normal;
	text-transform : none;
	line-height    : 1;
	-webkit-font-smoothing : antialiased;
}
.icon-alert:before  {content: "\e006";}
.icon-plus:before   {content: "\e007";}
.icon-close:before  {content: "\e008";}
.icon-rotate:before {content: "\e001";}
.icon-image:before  {content: "\e000";}
.icon-rdio-u:before {content: "\e002";}
.icon-rdio-c:before {content: "\e003";}

$green: #70bd34;

input:focus,
select:focus,
textarea:focus,
button:focus { outline : none;}
textarea { resize : none; }
html, body {
	cursor           : default;
	background-color : #584B4B;
	color            : #fff;
	font-family      : 'Lato', verdana, sans-serif;
	margin           : 0;
	padding          : 0;
	-webkit-user-select : none;
	   -moz-user-select : none;
	    -ms-user-select : none;
	        user-select : none;
}

ul { list-style-type : none; }

button {
	position         : absolute;
	background-color : rgba(0,0,0,0.4);
	border-radius    : 4px;
	color            : #ddd;
	font-size        : 13px;
	height           : 33px;
	margin           : 5px;
	padding          : 8px;
	width            : 120px;
	border           : none;
	&:hover .descript { opacity: 1; }
	.descript {
		position   : absolute;
		font-size  : 13px;
		width      : 90px;
		opacity    : 0;
		padding    : 5px;
		margin     : -5px;
		transition : all 200ms;
	}
}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.right {
		position:absolute;
		right: 30px;
		top: 22px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
		cursor: pointer;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

body {
	position   : absolute;
	top        : 0;
	left       : 0;
	height     : 100%;
	width      : 100%;
	overflow-x : hidden;
	-webkit-backface-visibility : hidden;
	ul {
		position : relative;
		width    : 825px;
		margin   : auto;
		padding  : 0;
		perspective : 800px;
		perspective-origin : 50% 100%;
		li {
			margin : 0 0 30px 0;
			height : 200px;
	  		transform-style : preserve-3d;
			&.titles {
				height : 60px;
				margin : 0;
				h3 {
					display    : inline-block;
					position   : absolute;
					text-align : center;
					width      : 50%;
					&:nth-child(2) { left : 50%; }
				}
			}
			&.card {
				&.ng-enter, 
				&.ng-leave { 
					transition : 1025ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
				} 

				&.ng-leave.ng-leave-active,
				&.ng-enter {
					transform : rotateX(-180deg) translatez(30px);
					opacity   : 0;
					height    : 0;
					margin    : 0 0;
				}

				&.ng-enter.ng-enter-active,
				&.ng-leave {
					transform : rotateX(0deg) translatez(0);
					opacity : 1;
					height  : 200px;
					margin  : 0 0 30px 0;
				}
				.num {
					position    : absolute;
					padding     : 20px;
					margin-left : -65px;
					line-height : 20px;
					font-size   : 26px;
				}
				.face {
					position   : absolute;
					width      : 400px;
					height     : inherit;
					background : #FFF;
					overflow-y : auto;
					overflow-x : hidden;
					&:nth-child(2) { right : 0; }
					textarea, input {
						font-family: 'verdana';
						border     : none;
						font-size  : 14px;
						width      : 90%;
						margin     : 15px 0 0 0;
						text-align : center;
						&.title {
							height : 25px;
						}
					}
					textarea { height : 130px; }
					input { height : 25px; }
					img {
						max-width  : 400px;
						max-height : 110px;
					}
					button {
						bottom     : 6px;
						right      : 10px;
						background : none;
						color      : rgba(0,0,0,0.7);
						font-size  : 22px;
						width      : 30px;
						transition : all 200ms;
						&:hover { 
							color : #47303C; 
							.descript { color : #47303C; }
						}
						.descript {
							top : 10px; 
							&.add { left : -85px; }
							&.del { left : -95px; }
						}
					}
					.alert {
						position  : absolute;
						color     : rgba(0,0,0,0.7);
						font-size : 13px;
						bottom    : 17px;
						left      : 17px;
						opacity   : 1;
						transition : all 200ms;
						&.hide { opacity : 0; }
						span {
							padding   : 0 2px 0 0;
							font-size : 15px;
							color     : #7F2626;
						}
					}
				}
				button.delete {
					right      : -58px;
					width      : 35px;
					margin-top : 13px;
					cursor: pointer;
					.descript {
						top   : 7px;
						left  : 40px;
						color : rgba(255,255,255,0.6);
					}

					&:hover {
						background: rgba(255,0,0,0.5);
					}
				}
			}
			#add-card {
				display          : inline-block;
				left             : 50%;
				bottom           : 0;
				background-color : $green;
				padding          : 6px 28px;
				color: #fff;
				border: none;
				font-size: 16px;
				font-family: 'Lato';
				border-radius: 0;
				margin: 65px -75px;
				width: 150px;
				height: 42px;
				position:relative;
				top: 0px;

				&:focus {
					background: #78bf39;
					box-shadow: 0px 0px 10px $green;
				}
			}
		}
	}
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

.arrow_box {
	position: absolute;
	background: #fbf767;
	border: 2px solid #fbf767;
	left: 50%;
	top: 123px;
	color: #151515;
	font-weight: 400;
	padding: 5px;
	height: 50px;
	width: 150px;
	margin-left: 140px;

	animation: pounce 1s infinite;

	span {
		display: inline-block;
		width: 140px;
		float: right;
		margin-top: 5px;
		margin-right: 12px;
		text-align: right;
	}
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 60px;
	margin-top: -60px;
}
.arrow_box:before {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 63px;
	margin-top: -63px;
}

@keyframes pounce {
	0% {
		margin-left: 150px;
	}
	50% {
		margin-left: 140px;
	}
	100% {
		margin-left: 150px;
	}
}

