@font-face {
	font-family : 'icomoon';
	src : url('assets/fonts/icomoon.eot');
	src : url('assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		  url('assets/fonts/icomoon.woff') format('woff'),
		  url('assets/fonts/icomoon.ttf') format('truetype'),
		  url('assets/fonts/icomoon.svg#icomoon') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
    font-family: 'fha_nicholson_french_ncvRg';
    src: url('assets/fonts/fha_nicholson_french_ncv-webfont.eot');
    src: url('assets/fonts/fha_nicholson_french_ncv-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.woff2') format('woff2'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.woff') format('woff'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.ttf') format('truetype'),
         url('assets/fonts/fha_nicholson_french_ncv-webfont.svg#fha_nicholson_french_ncvRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

#icon-help, #icon-shuffle,
#icon-rotate, #icon-restore,
#icon-finish, #icon-alert,
#icon-left, #icon-right {
	font-family            : 'icomoon';
	speak                  : none;
	font-style             : normal;
	font-weight            : normal;
	font-variant           : normal;
	text-transform         : none;
	line-height            : 1;
	-webkit-font-smoothing : antialiased;
}
.icon {
	font-size     : 24px;
	z-index       : 10;
	position      : absolute;
	bottom        : 23px;
	margin-left   : -23px;
	border-radius : 100%;
	height        : 24px;
	width         : 24px;
	color         : #222;
	padding       : 10px;

	-webkit-transition : 100ms background-color, 500ms opacity;
	   -moz-transition : 100ms background-color, 500ms opacity;
	    -ms-transition : 100ms background-color, 500ms opacity;
	        transition : 100ms background-color, 500ms opacity;

	&:hover, &.focused { background-color : rgba(255,255,255,0.6); }
	&.faded-out    { opacity : 0; }
	&.unselectable { opacity : 0.3; &:hover, &.focused {background-color : rgba(255,255,255,0) !important; }}
	&#icon-restore { left : 40%; }
	&#icon-rotate  { left : 50%; }
	&#icon-help    { left : 35px; top : 10px; }
	&#icon-shuffle { left : 60%; }
}

.icon.unselectable:hover {background-color : rgba(255,255,255,0) !important;}

#icon-help:before    { content : "\e005"; }
#icon-shuffle:before { content : "\e004"; }
#icon-rotate:before  { content : "\e003"; }
#icon-restore:before { content : "\e002"; }
#icon-finish:before  { content : "\e002"; }
#icon-left:before    { content : "\e001"; }
#icon-right:before   { content : "\e000"; }
#icon-alert          { content : "\e006"; }

// Color palette.
$a : #223863;
$b : #44382A;
$c : #6B6263;
$d : #543F3D;
$e : #A45B5B;
$f : #87735F;

body {
	position: absolute;
	color: #FFF;
	background: $a url('assets/img/bg.png');
	padding: 0;
	margin: 0;
	width: 800px;
	height: 520px;
	font-family: 'fha_nicholson_french_ncvRg';
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: default;

	-webkit-user-select : none;
	   -moz-user-select : none;
	    -ms-user-select : none;
	        user-select : none;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	position: relative;

	color: #ffffff;
   	font-size: 32px;
   	font-family: 'fha_nicholson_french_ncvRg';
	text-shadow: 0 3px 3px rgba(0,0,0,0.3);
	text-transform: uppercase;
	

	background: #5fac4b;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.3);

	cursor: pointer;
	-webkit-appearance: none;

	&:hover { background: #73D15A; }
}

.side-curtain {
	position: absolute;
	top: 0;
	
	height: 520px;
	width: 83px;
	z-index: 999;

	&.left {
		left: 0;

		background: url('assets/img/left-curtain.png') no-repeat top center;
	}

	&.right {
		right: 0;

		background: url('assets/img/right-curtain.png') no-repeat top center;
	}
}

#board {
	position: absolute;
	text-align: center;
	width: 800px;
	height: 520px;

	#question {
		height: 62px;
		margin: 65px auto 12px auto;
		max-width: 600px;

		font-size: 24px;
		line-height: 1.3;
		text-align: center;
		text-shadow: 0 6px 3px rgba(0,0,0,0.3);
	}
}

.error-notice-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #2f3944;
	display: none;

	.error-notice {
		background: #fceead url('../img/error-icon.png') center 26px no-repeat;
		width: 625px;
		height: 295px;
		margin: 140px auto 0 auto;
		text-align: center;

		h1 {
			color: #f78348;
			font-size: 13pt;
			padding-top: 130px;
			font-weight: normal;
		}

		h2 {
			font-size: 16pt;
			color: #282828;
			padding-top: 16px;
			font-weight: normal;
		}
	}
}

.intro-splash {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('assets/img/curtains.png') repeat-x center bottom;

	max-height: 520px;

	text-align: center;

	z-index: 1000;
	transition: max-height ease .5s;

	.title {
		padding-top: 40px;

		text-align: center;

		background: url('assets/img/ropes.png') no-repeat center top;

		transition: margin ease 1.5s;

		h1 {
			display: block;
			height: 317px;
			margin: 0 auto 24px auto;
			width: 484px;

			color: transparent;

			background: url('assets/img/title.png') no-repeat center;
		}

		&.raised {
			animation: bouncy 1.5s;
			margin-top: -500px;
		}		
	}

	&.raised { max-height: 60px }
}

#choices {
	position: relative;

	height: 302px;
	margin: 0 auto;

	.stand-container {
		position: absolute;

		display: inline-block;
		height: 290px;
		width: 375px;

		background: url('assets/img/side-ropes.png') repeat-x center;

		transition: left ease 1s, right ease 1s;

		&.for-this {
			left: -385px;

			&.raised {
				animation: bouncy-in-thisimg 1s;

				left: 0;
			}

			&.lowered {
				animation: bouncy-out-thisimg 1s;

				left: -385px;
			}

			.img-frame { right: -13px; }
		}

		&.for-that {
			right: -385px;

			&.raised {
				animation: bouncy-in-thatimg 1s;

				right: 0;
			}

			&.lowered {
				animation: bouncy-out-thatimg 1s;

				right: -385px;
			}

			.img-frame { left: -13px; }
		}

		.img-frame {
			position: absolute;
			top: 0;

			box-sizing: border-box;
			height: 302px;
			padding: 20px;
			width: 346px;

			background: url('assets/img/frame.png') no-repeat center;

			cursor: pointer;
			transition: background ease .5s;

			&:hover { background: url('assets/img/frame-hover.png') no-repeat center; }

			&.correct {
				background: url('assets/img/correct-frame.png') no-repeat center;

				.overlay {
					background-color: rgba(110, 199, 47, 0.4);

					&:before { content: "Correct!"; }
				}
			}

			&.incorrect {
				background: url('assets/img/incorrect-frame.png') no-repeat center;

				.overlay {
					background-color: rgba(228, 43, 32, 0.4);

					&:before { content: "Incorrect."; }
				}
			}

			.overlay {
				position: absolute;
				top: 20px;
				right: 23px;
				bottom: 32px;
				left: 23px;

				border-radius: 4px;

				color: #fff;
				font-size: 24px;
				line-height: 250px;
				text-shadow: 0 4px 2px rgba(0,0,0,0.3);
			}

			.choice-img {
				height: 250px;
				width: 300px;

				border-radius: 4px;
			}
		}
	}
}

#hands {
	position: relative;

	height: 150px;
	margin: 0 auto;
	margin-top: 75px;
	width: 325px;

	transition: margin ease .5s;

	&.raised { margin-top: -15px; }

	.hand {
		position: absolute;
		top: 0;

		display: inline-block;
		width: 177px;
		height: 150px;

		transition: transform ease .5s, top ease .5s, left ease .5s, right ease .5s;

		&.this-hand {
			left: 0;

			background: url('assets/img/lefthand-pointing.png') no-repeat center;

			transform-origin: 164px 86px;

			&.raised {
				transform: rotate(30deg);
				transform-origin: 164px 86px;
			}

			&.correct { background: url('assets/img/lefthand-tup.png') no-repeat center; }

			&.incorrect { background: url('assets/img/lefthand-tdown.png') no-repeat center; }
		}

		&.that-hand {
			right: 0;

			background: url('assets/img/righthand-pointing.png') no-repeat center;

			transform-origin: 13px 86px;

			&.raised {
				transform: rotate(-30deg);
				transform-origin: 13px 86px;
			}

			&.correct { background: url('assets/img/righthand-tup.png') no-repeat center; }

			&.incorrect { background: url('assets/img/righthand-tdown.png') no-repeat center; }
		}
	}
}

#next-container {
	position: absolute;
	right: 50px;
	bottom: -90px;

	height: 80px;

	background: url('assets/img/rope.png') no-repeat top center;

	transition: bottom ease .25s;

	&.raised {
		bottom: -10px;

		animation: bouncy-in-next 1s;
	}

	#next {
		padding: 6px 14px;

		font-size: 24px;

		animation: pulse-bg 1s infinite;
	}
}

#start {
	animation: pulse-bg 1s infinite;
}

@keyframes pulse-bg {
	50% { background: #73D15A; }
}

@keyframes correct-pulse {
	50% { background: url('assets/img/correct-frame-hover.png') no-repeat center; }
}

@keyframes bouncy {
	0%  {
		margin-top: 0;
		padding-top: 40px;
	}

	25% {
		margin-top: 0px;
		padding-top: 100px;
	}
	50% {
		margin-top: -500px;
		padding-top: 0;
	}
}

@keyframes bouncy-in-thisimg {
	0% { left: -385px; }

	25% { left: -10px; }

	50% { left: 0; }
}

@keyframes bouncy-in-thatimg {
	0% { right: -385px; }

	25% { right: -10px; }

	50% { right: 0; }
}

@keyframes bouncy-out-thisimg {
	0% { left: 0; }

	25% { left: 10px; }

	50% { left: -385px; }
}

@keyframes bouncy-out-thatimg {
	0% { right: 0; }

	25% { right: 10px; }

	50% { right: -385px; }
}

@keyframes bouncy-in-next {
	0% { bottom: -90px; }

	25% { bottom: 0px; }

	50% { bottom: -10px; }
}

.text-center { text-align: center !important; }

.disabled {
	cursor: not-allowed !important;
	pointer-events: none;
}
