.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
  transition: scale 200ms;
  cursor: zoom-in;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.zoomed {
  scale: 2;
  cursor: zoom-out;
}
