// This class is added to the body if browsing with IE.
.IE {
	.flashcard {
		&.rotated {
			-ms-transform : none !important;
			.front { -ms-transform-style : preserve-3d; -ms-transform : rotateY(180deg) !important; }
			.back  { -ms-transform-style : preserve-3d; -ms-transform : rotateY(  0deg) !important; } 
		}
	}
}

.IE9 {
	#board.blurred {
		opacity : 1;
		-ms-filter : none;
			filter : none;
	}
	.flashcard {
		&.rotated {
			-ms-transform : none !important;
			.front { display : none; }
			.back  { display : block;}
		}
		.front {-ms-transform : none;}
		.back  {-ms-transform : none;}

	}
}

.IE8 {
	#game { display : none !important; }
	.error-notice-container { display : block !important; }
}