body {
  --background-color: #14223C;
  --border-color: #2C3C59;
  --border-color-light: #3f557c;
  --inset-border: #2E3856;
  --border-width: 2px;
  --inset-color: #1F2E4A;
  --alt-text: #9CA3AF;
  --alt-text-2: #717182;
  --blue: #433ED8;
  --yellow: #FFCD20;

  --correct: #1B7F79F2;
  --incorrect: #EF4444F2;

  --choice-border-radius: 8px;
  --inset-box-border-radius: 8px;

  --bounce-timing: cubic-bezier(0.34, 1.56, 0.64, 1);
  --reverse-bounce-timing: cubic-bezier(0.68, -0.6, 0.32, 1.6);

  color-scheme: dark;
}
