<!DOCTYPE html>
<html ng-app="ThisOrThatCreator">
	<head>
		<title>This or That Creator</title>
		<meta charset='utf-8'/>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Buenard:700">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700">
		<link rel="stylesheet" href="creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.min.js"></script>
		<script src="assets/js/modernizr.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app="ThisOrThatCreator" ng-controller="ThisOrThatCreatorCtrl">
		<div id="modal"></div>
		<div id="header">
			<div class="logo"></div>
			<h1 id="title" ng-bind="title" ng-click="dialog.edit = true"></h1>
			<div class="link" ng-click="dialog.edit = true">Edit...</div>
			<button
				class="right"
				ng-click="questionBankModal = !questionBankModal"
				ng-class="{'btn':true, 'green':enableQuestionBank, 'dark':!enableQuestionBank }"
				ng-disabled="tutorial.step && tutorial.step < 6">
				Question Bank: {{enableQuestionBank === true ? "On" : "Off"}}
			</button>
			<button
				aria-label="Randomize Question Order"
				class="right randomize-button"
				ng-click="randomizeOrder=!randomizeOrder"
				ng-class="{'btn':true, 'green':randomizeOrder, 'dark':!randomizeOrder }"
				ng-disabled="(tutorial.step && tutorial.step < 6) || enableQuestionBank">
				Randomize Question Order: {{(randomizeOrder === true || enableQuestionBank === true) ? "On" : "Off"}}
			</button>
			<div class="question-tip">?
				<div class="qtip-box">
					<p>
						If <b>Question Bank</b> is enabled then the randomize order option is disabled. This is because the question bank
						randomizes the question order already.
					</p>
				</div>
			</div>
		</div>
		<main class="container" role="main">
			<div class="question-container">
				<div class="question-slider" ng-class="{ 'activated': questions[0] }">
					<section class="question"
						ng-class="{ 'sliding-in': actions.slidein, 'sliding-left': actions.slideleft, 'sliding-right': actions.slideright, 'removing': actions.remove, 'removing-last': actions.removelast, 'adding': actions.add }">
						<header class="question-header">
							<button class="btn red right"
								aria-label="Delete card."
								ng-click="removeQuestion(currIndex)"
								ng-disabled="questions.length < 2">
								<span class="icon-cross" aria-hidden="true"></span>
								<span class="sr-only">Remove question</span>
							</button>

							<h1>Question {{currIndex + 1}}:</h1>

							<input class="title"
								type="text"
								placeholder="Ex: Which of these video games is for mobile devices?"
								required
								ng-change="validation('change', currIndex); tutorialIncrement(1); limitLength()"
								ng-model="questions[currIndex].title">
						</header>

						<div class="choices">
							<section ng-else class="frame-container left">
								<h2 class="desc">The correct choice</h2>

								<div
									ng-class="{ 'hidden': questions[currIndex].correct.type !== null }"
									class="img-frame correct answer-types"
									ng-disabled="tutorial.step && tutorial.step < 2">
									<button
										ng-disabled="tutorial.step && tutorial.step < 2"
										ng-click="updateAnswerType('image', currIndex, CORRECT)">
										<span class="icon icon-image" aria-hidden="true"></span><span>image</span>
									</button>
									<button
										ng-disabled="tutorial.step && tutorial.step < 2"
										ng-click="updateAnswerType('text', currIndex, CORRECT)">
										<span class="icon icon-pencil" aria-hidden="true"></span><span>text</span>
									</button>
									<button
										ng-disabled="tutorial.step && tutorial.step < 2"
										ng-click="updateAnswerType('audio', currIndex, CORRECT)">
										<span class="icon icon-music" aria-hidden="true"></span><span>audio</span>
									</button>
									<button
										ng-disabled="tutorial.step && tutorial.step < 2"
										ng-click="updateAnswerType('video', currIndex, CORRECT)">
										<span class="icon icon-play" aria-hidden="true"></span><span>video</span>
									</button>
								</div>

								<button class="clear-type btn small gray"
									ng-click="clearType(currIndex, CORRECT)"
									ng-show="questions[currIndex].correct.type !== null">
									<span aria-hidden="true">
										<svg style="width: 12px; height: 12px;" viewBox="0 0 900 900" preserveAspectRatio="none">
											<g>
												<path d="M32 512l480 480v-288h512v-384h-512v-288z"></path>
											</g>
										</svg>
									</span>
									<span class="sr-only">Reset answer type</span>
								</button>

								<ng-template ng-if="questions[currIndex].correct.type === 'image'">
									<button class="img-frame correct"
										aria-label="The correct image"
										ng-click="requestImage(currIndex, CORRECT); tutorialIncrement(3)"
										ng-disabled="tutorial.step && tutorial.step < 3">
										<img class="choice-img" ng-if="questions[currIndex].correct.value.length > 0" ng-src="{{questions[currIndex].correct.value}}" alt="{{questions[currIndex].alt[0]}}">
										<span class="pre-upload" ng-if="!questions[currIndex].correct.value"><span class="icon icon-folder-upload" aria-hidden="true"></span>Click to upload or select an image file.</span>
									</button>

									<button class="clear-img btn small red"
										ng-click="clearMedia(currIndex, CORRECT)"
										ng-show="questions[currIndex].correct.id">
										<span class="icon-cross" aria-hidden="true"></span>
										<span class="sr-only">Clear image</span>
									</button>

									<input type="text"
										placeholder="Description for the correct image"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(4)"
										ng-model="questions[currIndex].correct.alt"
										ng-disabled="tutorial.step && tutorial.step < 4">

								</ng-template>
								<ng-template ng-if="questions[currIndex].correct.type === 'text'">
									<div class="img-frame correct answer-full-height">
										<textarea
										name="correct"
										rows="11"
										cols="25"
										class="choice-textarea"
										placeholder="Correct answer"
										maxlength="412"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(3); tutorialIncrement(4)"
										ng-model="questions[currIndex].correct.value"
										ng-blur="questions[currIndex].correct.alt = questions[currIndex].correct.value"
										ng-disabled="tutorial.step && tutorial.step < 3"></textarea>
									</div>
								</ng-template>

								<ng-template ng-if="questions[currIndex].correct.type === 'audio'">
									<button class="img-frame correct"
										aria-label="The correct audio"
										ng-click="requestAudio(currIndex, CORRECT); tutorialIncrement(3)"
										ng-disabled="tutorial.step && tutorial.step < 3">
										<div>
											<figure ng-if="questions[currIndex].correct.value.length > 0">
												<audio
													controls
													ng-src="{{questions[currIndex].correct.value}}">
													Your browser does not support the
													<code>audio</code> element.
												</audio>
											</figure>
											<span class="pre-upload" ng-if="!questions[currIndex].correct.value"><span class="icon icon-folder-upload" aria-hidden="true"></span>Click to upload or select an audio file.</span>
										</div>
									</button>

									<button class="clear-img btn small red"
										ng-click="clearMedia(currIndex, CORRECT)"
										ng-show="questions[currIndex].correct.id">
										<span class="icon-cross" aria-hidden="true"></span>
										<span class="sr-only">Clear image</span>
									</button>

									<input type="text"
										placeholder="Description for the correct audio"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(4)"
										ng-model="questions[currIndex].correct.alt"
										ng-disabled="tutorial.step && tutorial.step < 4">
								</ng-template>

								<ng-template ng-if="questions[currIndex].correct.type === 'video'">
									<div class="video-frame correct answer-full-height">
										<input type="text"
											class="answer-margin"
											ng-class="{'valid' : questions[currIndex].correct.videoValid == true, 'invalid': questions[currIndex].correct.videoValid == false}"
											placeholder="Enter a YouTube or Vimeo URL"
											ng-change="tutorialIncrement(3); questions[currIndex].correct.videoValid = null"
											required
											ng-model="questions[currIndex].correct.value"
											ng-disabled="tutorial.step && tutorial.step < 3" />
										<button class="video-submit" ng-click="questions[currIndex].correct.videoValid = true">Embed Video</button>
										<iframe
											ng-show="questions[currIndex].correct.videoValid == true"
											ng-src="{{ embedVideo(currIndex, CORRECT) }}"
											frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>
									</div>
									<input type="text"
										placeholder="Description for the correct video"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(4)"
										ng-model="questions[currIndex].correct.alt"
										ng-disabled="tutorial.step && tutorial.step < 4" />
								</ng-template>
								<input type="text"
										ng-if="questions[currIndex].correct.type != null"
										placeholder="Optional feedback for a correct answer"
										class="feedback"
										ng-change="validation('change', currIndex); tutorialIncrement(5);"
										ng-model="questions[currIndex].correct.options.feedback"
										ng-disabled="tutorial.step && tutorial.step < 5">
							</section>

							<section class="frame-container right">
								<h2 class="desc">The incorrect choice</h2>

								<div
									ng-class="{ 'hidden': questions[currIndex].incorrect.type !== null }"
									class="img-frame incorrect answer-types"
									ng-disabled="tutorial.step && tutorial.step < 6">
									<button
										ng-disabled="tutorial.step && tutorial.step < 6"
										ng-click="updateAnswerType('image', currIndex, INCORRECT)">
										<span class="icon icon-image" aria-hidden="true"></span><span>image</span>
									</button>
									<button
										ng-disabled="tutorial.step && tutorial.step < 6"
										ng-click="updateAnswerType('text', currIndex, INCORRECT)">
										<span class="icon icon-pencil" aria-hidden="true"></span><span>text</span>
									</button>
									<button
										ng-disabled="tutorial.step && tutorial.step < 6"
										ng-click="updateAnswerType('audio', currIndex, INCORRECT)">
										<span class="icon icon-music" aria-hidden="true"></span><span>audio</span>
									</button>
									<button
										ng-disabled="tutorial.step && tutorial.step < 6"
										ng-click="updateAnswerType('video', currIndex, INCORRECT)">
										<span class="icon icon-play" aria-hidden="true"></span><span>video</span>
									</button>
								</div>

								<button class="clear-type btn small gray"
									ng-click="clearType(currIndex, INCORRECT)"
									ng-show="questions[currIndex].incorrect.type !== null">
									<span aria-hidden="true">
										<svg style="width: 12px; height: 12px;" viewBox="0 0 900 900" preserveAspectRatio="none">
											<g>
												<path d="M32 512l480 480v-288h512v-384h-512v-288z"></path>
											</g>
										</svg>
									</span>
									<span class="sr-only">Reset answer type</span>
								</button>

								<ng-template ng-if="questions[currIndex].incorrect.type === 'image'">
									<button class="img-frame incorrect"
										aria-label="The incorrect image"
										ng-click="requestImage(currIndex, INCORRECT); tutorialIncrement(7)"
										ng-disabled="tutorial.step && tutorial.step < 7">
										<img class="choice-img" ng-if="questions[currIndex].incorrect.value.length > 0" ng-src="{{questions[currIndex].incorrect.value}}" alt="{{questions[currIndex].incorrect.alt}}">
										<span class="pre-upload" ng-if="!questions[currIndex].incorrect.value"><span class="icon icon-folder-upload" aria-hidden="true"></span>Click to upload or select an image file.</span>
									</button>

									<button class="clear-img btn small red"
										ng-click="clearMedia(currIndex, INCORRECT)"
										ng-show="questions[currIndex].incorrect.id">
										<span class="icon-cross" aria-hidden="true"></span>
										<span class="sr-only">Clear image</span>
									</button>

									<input type="text"
										placeholder="Description for the incorrect image"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(8)"
										ng-model="questions[currIndex].incorrect.alt"
										ng-disabled="tutorial.step && tutorial.step < 8">
								</ng-template>

								<ng-template ng-if="questions[currIndex].incorrect.type === 'text'">
									<div class="img-frame incorrect answer-full-height">
										<textarea
										name="incorrect"
										rows="11"
										cols="25"
										class="choice-textarea"
										placeholder="Incorrect answer"
										maxlength="412"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(7); tutorialIncrement(8)"
										ng-model="questions[currIndex].incorrect.value"
										ng-blur="questions[currIndex].incorrect.alt = questions[currIndex].incorrect.value"
										ng-disabled="tutorial.step && tutorial.step < 7"></textarea>
									</div>
								</ng-template>

								<ng-template ng-if="questions[currIndex].incorrect.type === 'audio'">
									<button class="img-frame incorrect"
										aria-label="The incorrect audio"
										ng-click="requestAudio(currIndex, INCORRECT); tutorialIncrement(7)"
										ng-disabled="tutorial.step && tutorial.step < 7">
										<div>
											<figure ng-if="questions[currIndex].incorrect.value.length > 0">
												<audio
													controls
													ng-src="{{questions[currIndex].incorrect.value}}">
													Your browser does not support the
													<code>audio</code> element.
												</audio>
											</figure>
											<span class="pre-upload" ng-if="!questions[currIndex].incorrect.value"><span class="icon icon-folder-upload" aria-hidden="true"></span>Click to upload or select an audio file.</span>
										</div>
									</button>

									<button class="clear-img btn small red"
										ng-click="clearMedia(currIndex, INCORRECT)"
										ng-show="questions[currIndex].incorrect.id">
										<span class="icon-cross" aria-hidden="true"></span>
										<span class="sr-only">Clear image</span>
									</button>

									<input type="text"
										placeholder="Description for the incorrect audio"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(8)"
										ng-model="questions[currIndex].incorrect.alt"
										ng-disabled="tutorial.step && tutorial.step < 8">
								</ng-template>

								<ng-template ng-if="questions[currIndex].incorrect.type === 'video'">
									<div class="video-frame incorrect answer-full-height">
										<input type="text"
											class="answer-margin"
											ng-class="{'valid' : questions[currIndex].incorrect.videoValid == true, 'invalid': questions[currIndex].incorrect.videoValid == false}"
											placeholder="Enter a YouTube or Vimeo URL"
											ng-change="tutorialIncrement(7); questions[currIndex].incorrect.videoValid = null"
											required
											ng-model="questions[currIndex].incorrect.value"
											ng-disabled="tutorial.step && tutorial.step < 7" />
										<button class="video-submit" ng-click="questions[currIndex].incorrect.videoValid = true">Embed Video</button>
										<iframe
											ng-show="questions[currIndex].incorrect.videoValid == true"
											ng-src="{{ embedVideo(currIndex, INCORRECT) }}"
											frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>
									</div>
									<input type="text"
										placeholder="Description for the incorrect video"
										required
										ng-change="validation('change', currIndex); tutorialIncrement(8)"
										ng-model="questions[currIndex].incorrect.alt"
										ng-disabled="tutorial.step && tutorial.step < 8" />
								</ng-template>

								<input type="text"
										ng-if="questions[currIndex].incorrect.type != null"
										placeholder="Optional feedback for an incorrect answer"
										class="feedback"
										ng-change="validation('change', currIndex); tutorialIncrement(9)"
										ng-model="questions[currIndex].incorrect.options.feedback"
										ng-disabled="tutorial.step && tutorial.step < 9">
							</section>
						</div>

						<p class="no-margin" style="text-align:right">
							<button class="btn small transparent"
								ng-click="duplicate(currIndex)">Duplicate</button>
						</p>
					</section>
				</div>

				<button class="prev btn dark"
					type="button"
					ng-click="prev()"
					ng-disabled="questions.length < 2">
					<span class="icon-backward2" aria-hidden="true"></span>
					<span class="sr-only">Back</span>
				</button>

				<button class="next btn dark"
					type="button"
					ng-click="next()"
					ng-disabled="questions.length < 2">
					<span class="icon-forward3" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</button>

				<div class="arrow-box"
					ng-class="{ 'step1': tutorial.step == 1, 'step2': tutorial.step == 2, 'step3': tutorial.step == 3, 'step4': tutorial.step == 4, 'step5': tutorial.step == 5, 'step6': tutorial.step == 6, 'step7': tutorial.step == 7, 'step8': tutorial.step == 8, 'step9': tutorial.step == 9, 'step10 arrow-right': tutorial.step == 10}"
					ng-show="tutorial.step">
					{{tutorial.text[tutorial.step - 1]}}
				</div>
			</div>

			<nav class="question-nav">
				<ul class="dots left" ng-show="questions[0]">
					<li ng-repeat="question in questions">
						<button class="btn round hollow"
							type="button"
							ng-class="{'active': currIndex == $index, 'green': !question.invalid, 'red': question.invalid}"
							ng-click="selectCurrent($index)"
							ng-disabled="questions.length < 2">{{$index + 1}}</button>
					</li>
				</ul>
				<button
					class="rearrange-questions btn green"
					aria-label="Rearrange Questions"
					ng-click="dialog.rearrange = true"
					ng-disabled="randomizeOrder || (tutorial.step && tutorial.step < 10) || questions.length < 2">
					Rearrange Questions
				</button>
				<button class="btn green"
					id="add-question"
					aria-label="Add Question"
					ng-class="{'right': questions[0]}"
					ng-click="addQuestion(); tutorialIncrement(10)"
					ng-disabled="tutorial.step && tutorial.step < 10">
					Add Question
				</button>
			</nav>
		</main>

		<div class="modal-bg"
			ng-class="{ 'show': dialog.intro || dialog.edit || dialog.invalid || dialog.rearrange || questionBankModal }"
			ng-click="hideModal()">
			<div class="modal-container">
				<!-- Invalid modal -->
				<div class="modal invalid" ng-show="dialog.invalid" ng-click="$event.stopPropagation()">
					<button class="btn small red right" aria-label="Close message" ng-click="hideModal()">
						<span class="icon-cross" aria-hidden="true"></span>
						<span class="sr-only">Close message</span>
					</button>
					<h3 class="no-margin">Error</h3>

					<p>Looks like you forgot to fill out the fields for every question!</p>
					<p class="no-margin">Incomplete questions are highlighted on the numbered list.</p>
				</div>
				<!-- /Invalid modal -->

				<!-- Intro modal -->
				<div class="modal intro" ng-show="dialog.intro" ng-click="$event.stopPropagation()">
					<img src="assets/img/creatorexample.png" alt="Widget preview">

					<h1>This or That</h1>

					<p>Compare two images against a question and choose which one best answers it.
					<p class="no-margin">This widget records scores.</p>

					<hr>

					<h4 class="no-margin">Start by giving your This or That widget a title</h4>

					<div class="input-group">
						<input type="text"
							placeholder="My This or That widget..."
							autofocus="1"
							required
							focus-me="dialog.intro"
							ng-class="{ 'invalid': title.$error }"
							ng-model="title"
							ng-enter="setTitle()">
						<input class="btn green" type="button" value="Get Started" ng-click="setTitle()">
					</div>
					<label for="tutorial">
						<input type="checkbox"
							id="tutorial"
							ng-checked="true"
							ng-model="tutorial.step"
							ng-true-value="1"
							ng-false-value="null"> Show a short tutorial on using this creator
					</label>
				</div>
				<!-- /Intro modal -->

				<!-- Title edit modal -->
				<div class="modal title" ng-show="dialog.edit" ng-click="$event.stopPropagation()">
					<h4 class="no-margin">Give your This or That widget a title</h4>

					<input type="text"
						placeholder="My This or That widget"
						autofocus="1"
						focus-me="dialog.edit"
						ng-model="title"
						ng-enter="setTitle()">
					<input class="btn green" type="button" value="Done" ng-click="setTitle()">
				</div>
				<!-- /Title edit modal -->

				<!-- Rearrange questions modal -->
				<div class="modal rearrange" ng-show="dialog.rearrange" ng-click="$event.stopPropagation()">
					<h4>Rearrange Questions</h4>
					<ul class="dots" ng-show="questions[0]">
						<li
							ng-repeat="question in questions">
							<button class="btn round green active">{{$index + 1}}</button>
							<input disabled value="{{question.title}}" placeholder="No question text provided!" />
							<div class="arrow-up" ng-class="{'disabled' : $index == 0}" ng-click="moveUp($index)" ng-disabled="$index == 0">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 451.847 451.846" style="enable-background:new 0 0 451.847 451.846;" xml:space="preserve">
									<g>
										<path d="M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0   L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4   c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z"/>
									</g>
								</svg>
							</div>
							<div class="arrow-down" ng-class="{'disabled' : $index == (questions.length - 1)}" ng-click="moveDown($index)" ng-disabled="$index == (questions.length - 1)">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;size: 24px;height: 24px;width: 24px;" xml:space="preserve">
									<g>
										<path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
									</g>
								</svg>
							</div>
						</li>
					</ul>
					<button class="btn green done-btn" ng-click="hideModal()">Done</button>
				</div>
				<!-- /Rearrange questions modal -->
				<!-- Question Bank Modal -->
				<div class="modal question-bank-dialog"
					ng-show= "questionBankModal">
					<h1>Question Bank</h1>
					<p>When the question bank is enabled, the widget can use a subset of questions to create a randomized and unique experience every time the student hits play.</p>
					<div class="enable-qb-question">
						<label style="font-weight: bold;">Enable question bank? </label>
						<div class="enable-qb-options"
							ng-click="$event.stopPropagation()">
							<span>
								<input type="radio" ng-model="enableQuestionBank" ng-value=false> No</input>
								<input type="radio" ng-model="enableQuestionBank" ng-change="questionBankVal = questions.length; questionBankValTemp = questions.length" ng-value=true> Yes</input>
							</span>
						</div>
					</div>
					<div>
						<span ng-show="enableQuestionBank" >
							<label style="font-weight: bold;">How many questions to ask? </label>
							<div class="num-input-wrapper"
								ng-click="$event.stopPropagation()">
								<input class="num-input" type="number" ng-model="questionBankValTemp" ng-change="validateQuestionBankVal()" step="1">
								<span> out of {{questions.length}}</span>
							</div>
						</span>
					</div>
					<button class="dialog-close-button btn green" ng-disabled="(questionBankValTemp < 1 || questionBankValTemp > questions.length) && enableQuestionBank" ng-click="questionBankModal = false">CONFIRM</button>
				</div>
				<!-- /Question Bank Modal -->
			</div>
		</div>
	</body>
</html>
