// Helpful mixins

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		color: $color;
		background-color: lighten($background, 10%);
				border-color: lighten($border, 12%);
	}

	&.disabled,
	&[disabled] {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
					border-color: $border;
		}
	}
}