<!DOCTYPE html>
<html lang="en" ng-app="ThisOrThatEngine" ng-controller="ThisOrThatEngineCtrl" ng-keydown="selectChoice($event)">
	<head>
		<title>This Or That Engine</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Buenard:700">
		<link rel="stylesheet" href="player.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-aria.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.min.js"></script>
		<script src="assets/js/hammer.min.js"></script>
		<script src="assets/js/angular-hammer.min.js"></script>
		<script src="assets/js/modernizr.min.js"></script>

		<!-- MAIN WIDGET SCRIPT -->
		<script src="player.js"></script>
	</head>
	<body>
		<main id="game" role="main">

			<!-- aria-live region to report status updates -->
			<!-- note: browser support for aria-live is mixed, behavior may be inconsistent across browsers and devices -->
			<div aria-live="assertive" role="status" id="assistive-alert" aria-atomic="true"></div>

			<div id="splash" ng-class="{'raised': gameState.ingame}">
				<div class="sign-stand" aria-hidden="true"></div>

				<div class="sign" ng-class="{'raised': gameState.ingame, 'end': gameState.endgame}" role="{{gameState.endgame ? 'alertdialog' : 'dialog'}}" aria-describedby="instructions" aria-modal="true" ng-hide="gameState.ingame" aria-hidden="{{gameState.ingame}}" ng-attr-inert="{{gameState.ingame ? 'true' : undefined }}">
					<h1 id="splashText" aria-hidden="{{gameState.endgame}}">{{gameState.splashtext}}</h1>

					<p id="instructions" aria-hidden="{{gameState.endgame}}">Controls (optional): Press A to select the first choice. Press D to select the second choice. Then, press Enter to lock in your answer. Press Q to hear the question number. Press Q twice to hear the question again.</p>

					<button class="start btn"
						ng-click="closeIntro()"
						aria-hidden="{{gameState.endgame}}"
						ng-attr-inert="{{gameState.endgame? 'true' : undefined}}">Start!</button>
					<button class="reset btn"
						ng-click="viewScores()" ng-attr-inert="{{!gameState.endgame ? 'true' : undefined}}"
						aria-hidden="{{!gameState.endgame}}" focus-me="continueToScores">Continue to scores</button>
				</div>
			</div>

			<section id="board" ng-attr-inert="{{!gameState.ingame || gameState.endgame || lightboxTarget >= 0 ? 'true' : undefined }}" aria-hidden="{{!gameState.ingame || gameState.endgame || lightboxTarget >= 0 ? true : false}}" ng-hide="gameState.endgame">
				<div class="side-curtain upper left" aria-hidden="true"></div>
				<div class="side-curtain upper right" aria-hidden="true"></div>
				<div class="side-curtain lower left" aria-hidden="true"></div>
				<div class="side-curtain lower right" aria-hidden="true"></div>

				<div tabindex="{{resetFocus ? 0 : -1}}" id="focus-start" focus-me="resetFocus == true" ng-focus="resetFocus = false"></div>

				<h1 id="question" ng-bind-html="title"></h1>

				<!-- Holds ThisOrThat -->
				<div id="choices" ng-hide="gameState.endgame">
					<!-- LEFT -->
					<div class="stand-container for-this"
						ng-class="{'raised': gameState.ingame, 'lowered': question.transition}">
						<div class="background-stand left" aria-hidden="true"></div>
						<div class="frame-wrapper" ng-class="{'correct': question.correct[0] == 'Correct!', 'incorrect': question.correct[0] == 'Incorrect'}">
							<!-- the button version of the frame: for text -->
							<button class="content-frame"
								ng-if="answers[0].options.asset.type === 'text'"
								ng-click="checkChoice(0)"
								aria-hidden="{{question.selected || lightboxTarget >= 0}}"
								ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}"
								ng-mouseenter="hands.thisRaised = true"
								ng-mouseleave="hands.thisRaised = false"
								ng-focus="hands.thisRaised = true"
								ng-blur="hands.thisRaised = false"
								focus-me="selectedChoice == 0"
								href="#"
								data-title="{{answers[0].text}}">
								<div>
									<span ng-show="question.correct[0] != ''" ng-class="{'overlayFeedback': question.correct[0] != ''}">{{question.correct[0]}}</span>
									<span ng-show="question.correct[0] != '' && answers[0].options.feedback" class="feedback">{{answers[0].options.feedback}}</span>
								</div>
								<div ng-if="answers[0].options.asset.type === 'text'" class="choice choice-text" ng-style="{ 'font-size': getAdjustedTextSize(answers[0].options.asset.value) + 'px'}">
									<span>{{answers[0].options.asset.value}}</span>
								</div>
							</button>
							<!-- the div version of the frame: for images, audio and video -->
							<div class="content-frame"
								ng-if="answers[0].options.asset.type === 'audio' || answers[0].options.asset.type === 'video' || answers[0].options.asset.type === 'image'"
								data-title="{{answers[0].text}}">
								<div>
									<span ng-show="question.correct[0] != ''" ng-class="{'overlayFeedback': question.correct[0] != ''}">{{question.correct[0]}}</span>
									<span ng-show="question.correct[0] != '' && answers[0].options.feedback" class="feedback">{{answers[0].options.feedback}}</span>
								</div>
								<figure class="choice choice-audio" ng-if="answers[0].options.asset.type == 'audio'">
									<figcaption>{{answers[0].text}}</figcaption>
									<audio
										controls
										ng-src="{{answers[0].options.asset.value}}">
										Your browser does not support the
										<code>audio</code> element.
									</audio>
								</figure>
								<section class="video-frame" ng-if="answers[0].options.asset.type === 'video'">
									<iframe class="choice choice-video"  width="100%" height="10%" ng-src="{{ answers[0].options.asset.value }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
								</section>
								<button class="video-expand-into-lightbox"
								id="lightbox-button-0"
								aria-label="Expand video"
								ng-if="answers[0].options.asset.type === 'video'" ng-click="setLightboxTarget(0)" aria-hidden="{{question.selected || lightboxTarget >= 0}}"
								ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}" focus-me="focusThisExpand"><span class="icon icon-enlarge" aria-hidden="true"></span>Expand</button>
								<button
									class="submit-selected"
									ng-if="answers[0].options.asset.type === 'video' || answers[0].options.asset.type === 'audio'"
									ng-click="checkChoice(0)"
									ng-mouseenter="hands.thisRaised = true"
									ng-mouseleave="hands.thisRaised = false"
									ng-focus="hands.thisRaised = true"
									aria-label="{{answers[0].text}}"
									focus-me="selectedChoice == 0"
									ng-blur="hands.thisRaised = false"
									aria-hidden="{{question.selected || lightboxTarget >= 0}}"
									ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}">Select</button>
								<button
									ng-if="answers[0].options.asset.type === 'image'"
									ng-click="!question.selected && checkChoice(0)"
									ng-mouseenter="hands.thisRaised = true"
									ng-mouseleave="hands.thisRaised = false"
									ng-focus="hands.thisRaised = true"
									focus-me="selectedChoice == 0"
									ng-blur="hands.thisRaised = false"
									aria-hidden="{{question.selected || lightboxTarget >= 0}}"
									ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}"
									class="choice choice-img">
									<img
										ng-src="{{answers[0].options.asset.value}}"
										alt="{{answers[0].text}}" />
									</button>
								<button class="image-expand-into-lightbox"
								aria-label="{{answers[1].options.asset.type === 'video' ? 'Expand video' : 'Expand image'}}"
								id="lightbox-button-0"
								ng-if="answers[0].options.asset.type === 'image'" ng-click="setLightboxTarget(0)" aria-hidden="{{question.selected || lightboxTarget >= 0}}"
								ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}" focus-me="focusThisExpand"><span class="icon icon-enlarge" aria-hidden="true"></span></button>
							</div>
						</div>
					</div>
					<!-- RIGHT -->
					<div class="stand-container for-that"
						ng-class="{'raised': gameState.ingame, 'lowered': question.transition}">
						<div class="background-stand right" aria-hidden="true"></div>
						<div class="frame-wrapper" ng-class="{'correct': question.correct[1] == 'Correct!', 'incorrect': question.correct[1] == 'Incorrect'}">
							<!-- the button version of the frame: for text -->
							<button class="content-frame"
								ng-if="answers[1].options.asset.type === 'text'"
								ng-click="checkChoice(1)"
								aria-hidden="{{question.selected || lightboxTarget >= 0}}"
								ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}"
								ng-mouseenter="hands.thatRaised = true"
								ng-mouseleave="hands.thatRaised = false"
								ng-focus="hands.thatRaised = true"
								ng-blur="hands.thatRaised = false"
								href="#"
								focus-me="selectedChoice == 1"
								data-title="{{answers[1].text}}">
								<div>
									<span ng-show="question.correct[1] != ''" ng-class="{'overlayFeedback': question.correct[1] != ''}">{{question.correct[1]}}</span>
									<span ng-show="question.correct[1] != '' && answers[1].options.feedback" class="feedback">{{answers[1].options.feedback}}</span>
								</div>
								<div ng-if="answers[1].options.asset.type === 'text'" class="choice choice-text" ng-style="{ 'font-size': getAdjustedTextSize(answers[1].options.asset.value) + 'px'}">
									<span>{{answers[1].options.asset.value}}</span>
								</div>
							</button>
							<!-- the div version of the frame: for images, audio and video -->
							<div class="content-frame"
								ng-if="answers[1].options.asset.type === 'audio' || answers[1].options.asset.type === 'video' || answers[0].options.asset.type === 'image'"
								data-title="{{answers[1].text}}">
								<div>
									<span ng-show="question.correct[1] != ''" ng-class="{'overlayFeedback': question.correct[1] != ''}">{{question.correct[1]}}</span>
									<span ng-show="question.correct[1] != '' && answers[1].options.feedback" class="feedback">{{answers[1].options.feedback}}</span>
								</div>
								<figure class="choice choice-audio" ng-if="answers[1].options.asset.type == 'audio'">
									<figcaption>{{answers[1].text}}</figcaption>
									<audio
										controls
										ng-src="{{answers[1].options.asset.value}}">
										Your browser does not support the
										<code>audio</code> element.
									</audio>
								</figure>
								<section class="video-frame" ng-if="answers[1].options.asset.type === 'video'">
									<iframe class="choice choice-video"  width="100%" height="10%" ng-src="{{ answers[1].options.asset.value }}" frameborder="0" allowfullscreen></iframe>
								</section>
								<button class="video-expand-into-lightbox"
								aria-label="Expand video"
								id="lightbox-button-1"
								ng-if="answers[1].options.asset.type === 'video'" ng-click="setLightboxTarget(1)" aria-hidden="{{question.selected || lightboxTarget >= 0}}"
								ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}" focus-me="focusThatExpand"><span class="icon icon-enlarge"></span>Expand</button>
								<button
									class="submit-selected"
									ng-if="answers[1].options.asset.type === 'video' || answers[1].options.asset.type === 'audio'"
									ng-click="checkChoice(1)"
									ng-mouseenter="hands.thatRaised = true"
									ng-mouseleave="hands.thatRaised = false"
									ng-focus="hands.thisRaised = true"
									aria-label="{{answers[1].text}}"
									focus-me="selectedChoice == 1"
									ng-blur="hands.thisRaised = false" aria-hidden="{{question.selected || lightboxTarget >= 0}}"
									ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}">Select</button>
								<button
									ng-if="answers[1].options.asset.type === 'image'"
									ng-click="!question.selected && checkChoice(1)"
									ng-mouseenter="hands.thatRaised = true"
									ng-mouseleave="hands.thatRaised = false"
									ng-focus="hands.thatRaised = true"
									focus-me="selectedChoice == 1"
									ng-blur="hands.thatRaised = false"
									class="choice choice-img"
									aria-hidden="{{question.selected || lightboxTarget >= 0}}"
									ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}">
									<img
										ng-src="{{answers[1].options.asset.value}}"
										alt="{{answers[1].text}}" />
								</button>
								<button class="image-expand-into-lightbox"
								aria-label="{{answers[1].options.asset.type === 'video' ? 'Expand video' : 'Expand image'}}"
								id="lightbox-button-0" ng-if="answers[1].options.asset.type === 'image'" ng-click="setLightboxTarget(1)" aria-hidden="{{question.selected || lightboxTarget >= 0}}"
								ng-attr-inert="{{question.selected || lightboxTarget >= 0 ? 'true' : undefined}}" focus-me="focusThatExpand"><span class="icon icon-enlarge" aria-hidden="true"></span></button>
							</div>
						</div>
					</div>
				</div>

				<div id="hands" ng-class="{'hidden': gameState.ingame != true }" aria-hidden="true">
					<div class="hand this-hand"
						ng-class="{'raised': hands.thisRaised || question.choice == 0, 'correct': question.correct[0] == 'Correct!', 'incorrect': question.correct[0] == 'Incorrect'}"></div>
					<div class="hand that-hand"
						ng-class="{'raised': hands.thatRaised || question.choice == 1, 'correct': question.correct[1] == 'Correct!', 'incorrect': question.correct[1] == 'Incorrect'}"></div>
				</div>

				<div id="next-container" ng-class="{'raised': gameState.showNext}" ng-attr-inert="{{!gameState.showNext || lightboxTarget >= 0 ? 'true' : undefined}}" aria-hidden="{{!gameState.showNext || lightboxTarget >= 0}}">
					<div class="background-stand" aria-hidden="true"></div>
					<button class="btn"
						id="next"
						ng-click="nextClicked()"
						focus-me="question.selected">Next</button>
				</div>

				<div tabindex="0" id="focus-end" focus-me="reachedFocusEnd" ng-focus="resetFocus = true; reachedFocusEnd = false;"></div>
			</section>
			<section class="lightbox" ng-class="{ 'show': lightboxTarget >= 0}" ng-hide="lightboxTarget == -1" aria-modal="true">
				<div class="lightbox-content">
					<button class="lightbox-close" ng-click="setLightboxTarget(-1)" aria-label="Close image" focus-me="lightboxTarget >= 0">X</button>
					<iframe class="lightbox-video" ng-if="answers[lightboxTarget].options.asset.type == 'video'" ng-src="{{answers[lightboxTarget].options.asset.value}}" frameborder="0" allowfullscreen></iframe>
					<div ng-if="answers[lightboxTarget].options.asset.type == 'image'" class="lightbox-image-container">
						<img role="img" class="lightbox-image" ng-src="{{answers[lightboxTarget].options.asset.value}}" alt="{{answers[lightboxTarget].text}}" ng-class="{'lightbox-image-zoom': lightboxZoom == 1}" ng-click="setLightboxZoom(!lightboxZoom)">
					</div>
				</div>
				<div class='modal-bg' ng-click="setLightboxTarget(-1)" aria-hidden="true" tabindex="-1">
				</div>
			</section>
		</main>
	</body>
</html>
