@import 'assets/css/icomoon.css';

* {
	transform-style: flat;
}
html {
	height: 100%;
}

// Color palette.
$a: #223863;
$b: #44382a;
$c: #6b6263;
$d: #543f3d;
$e: #a45b5b;
$f: #87735f;

$chunky-font: 'Sigmar One', cursive;

body {
	color: #fff;
	background: $a url('assets/img/sprites.png');
	background-position: -1076px -712.875px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	width: 800px;
	min-height: 520px;
	font-family: $chunky-font;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	position: relative;

	color: #ffffff;
	font-size: 32px;
	font-family: $chunky-font;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	white-space: nowrap;

	background: #5fac4b;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
	outline: none;

	cursor: pointer;
	-webkit-appearance: none;

	&:hover {
		background: #73d15a;
	}
}

.side-curtain {
	position: absolute;

	z-index: 10;

	&.upper {
		top: 0;

		width: 81px;
		height: 134px;

		&.left {
			left: 0;

			background-image: url('assets/img/sprites.png');
			background-position: 0 0 top center;
			background-repeat: no-repeat;
		}

		&.right {
			right: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -101px 0, top center;
			background-repeat: no-repeat;
		}
	}

	&.lower {
		top: 134px;

		width: 42px;
		height: 382px;

		&.left {
			left: 0;

			background-image: url('assets/img/sprites.png');
			background-position: 0 -134px, top center;
			background-repeat: no-repeat;
		}

		&.right {
			right: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -139px -134px, top center;
			background-repeat: no-repeat;
		}
	}
}

#board {
	text-align: center;
	width: 800px;
	//height: 520px;

	#question {
		margin: 68px auto 20px auto;
		max-width: 636px;
		font-size: 30px;
		font-family: 'Buenard', serif;
		line-height: 1.1;
		text-align: center;
		text-shadow: 0 6px 3px rgba(0, 0, 0, 0.3);
	}
}

#assistive-alert {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.error-notice-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #2f3944;
	display: none;

	.error-notice {
		background: #fceead url('../img/error-icon.png'), center 26px no-repeat;
		width: 625px;
		height: 295px;
		margin: 140px auto 0 auto;
		text-align: center;

		h1 {
			color: #f78348;
			font-size: 13pt;
			padding-top: 130px;
			font-weight: normal;
		}

		h2 {
			font-size: 16pt;
			color: #282828;
			padding-top: 16px;
			font-weight: normal;
		}
	}
}

#splash {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url('assets/img/sprites.png');
	background-position: -56px bottom;

	max-height: 520px;

	text-align: center;

	z-index: 20;
	transition: max-height ease 1s;

	&.raised {
		max-height: 60px;
	}

	.sign {
		position: relative;

		margin: 0 auto;
		padding-top: 30px;
		width: 484px;

		text-align: center;

		transition: margin ease 1s;

		h1 {
			position: relative;

			display: block;
			height: 317px;
			margin: 0 0 15px;
			width: 484px;

			color: transparent;

			background-image: url('assets/img/sprites.png');
			background-position: -199px 0, center;
			background-repeat: no-repeat;

			z-index: 1;
		}

		.reset {
			opacity: 0;

			&.end {
				opacity: 1;
			}
		}

		&.raised {
			margin-top: -500px;
		}

		&.end {
			h1 {
				background-image: url('assets/img/sprites.png');
				background-position: -199px -323px, center top;
				background-repeat: no-repeat;
			}

			.start {
				display: none;
			}
			.reset {
				display: inline-block;
			}
		}
	}

	.sign-stand {
		position: absolute;
		left: 50%;
		bottom: 0;

		background-image: url('assets/img/sprites.png');
		background-position: -67px -146px, center top;
		background-repeat: no-repeat;

		height: 500px;
		margin-left: -30px;
		width: 60px;

		z-index: 0;
	}

	#aria-label {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
	}

	#instructions {
		position: absolute;
		opacity: 0;
	}
}

#focus-start, #focus-end {
	width: 0;
	height: 0;
	position: absolute;
}

#choices {
	display: flex;
	width: 750px;
	height: 302px;
	margin: 0 auto;
	z-index: 0;
	transform-style: flat;

	.stand-container {
		position: relative;

		display: inline-block;
		height: 290px;
		width: 375px;
		transform-style: flat;

		&.for-this {
			&.raised {
				animation: bouncy-in-thisimg 1s;
			}

			&.lowered {
				animation: bouncy-out-thisimg 1s;
				transform: translate(-365px, 0);
			}
		}

		&.for-that {
			&.raised {
				animation: bouncy-in-thatimg 1s;
			}

			&.lowered {
				animation: bouncy-out-thatimg 1s;
				transform: translate(365px, 0);
			}
		}

		.background-stand {
			position: absolute;
			top: 50%;

			height: 64px;
			margin-top: -35px;
			width: 100%;

			background-image: url('assets/img/sprites.png');
			background-position: -195.8839111328125px -971.9755554199219px, center;
			background-repeat: repeat-x;

			z-index: 0;

			&.left {
				right: 28px;
			}
			&.right {
				left: 28px;
			}
		}

		div.frame-wrapper {
			position: relative;
			display: inline-block;

			box-sizing: border-box;
			height: 302px;
			padding: 0;
			width: 346px;

			background-color: transparent;
			background-image: url('assets/img/sprites.png');
			background-position: -1515.9720458984375px 0, center;
			background-repeat: no-repeat;
			border: 0;
			outline: none;

			transition: background-image ease 0.5s;

			z-index: 2;

			&:hover {
				background-image: url('assets/img/sprites.png');
				background-position: -1515.9564208984375px -337.9286804199219px, center;
				background-repeat: no-repeat;
			}

			&.correct {
				background-image: url('assets/img/sprites.png');
				background-position: -1116.9600830078125px 0, center;
				background-repeat: no-repeat;

				.overlayFeedback {
					text-shadow: 0 4px 2px rgba(0, 0, 0, 0.6);
					background-color: rgba(110, 199, 47, 0.9);
				}
			}

			&.incorrect {
				background-image: url('assets/img/sprites.png');
				background-position: -721px 0, center;
				background-repeat: no-repeat;

				.overlayFeedback {
					text-shadow: 0 4px 2px rgba(0, 0, 0, 0.6);
					background-color: rgba(228, 43, 32, 0.9);
				}
			}

			div.content-frame, button.content-frame {
				display: inline-block;
				box-sizing: border-box;

				width: 100%;
				height: 100%;

				background: none;
				border: none;

				.feedback {
					position: absolute;
					top: 115px;
					right: 25px;
					bottom: 32px;
					left: 33px;

					z-index: 2;

					border-radius: 4px;
					overflow-y: auto;

					color: #fff;
					font-family: sans-serif;
					font-size: 16px;
					line-height: 16px;
					text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
					text-align: left;
					word-wrap: break-word;
				}

				.overlayFeedback {
					position: absolute;
					top: 20px;
					right: 23px;
					bottom: 32px;
					left: 23px;

					z-index: 2;

					border-radius: 4px;

					color: #fff;
					font-family: $chunky-font;
					font-size: 24px;
					line-height: 150px;
				}

				.feedback::-webkit-scrollbar {
					background: rgba(0, 0, 0, 0);
					width: 9px;
				}

				.feedback::-webkit-scrollbar-thumb {
					background: rgba(196, 196, 196, 1);
					border-radius: 10px;
				}

				.choice {
					height: 250px;
					margin: -10px auto 0;
					width: 300px;

					border-radius: 4px;
					border: 0;
					outline: none;

					cursor: pointer;

					&.choice-img {

						background: #fff;
						margin-top: 20px;
						padding: 0;

						&:focus img {
							border: solid 3px #fff;
							border-radius: 3px;
							top: -3px;
							left: -3px;
						}

						img {
							position: relative;
							width: 300px;
							height: 250px;
							object-fit: cover;
						}
					}
				}

				.choice-text {
					height: calc(100% - 72px);
					width: calc(100% - 70px);
					padding: 10px;

					background: #fcf3e3;
					border-radius: 10px;

					font-size: 18px;
					font-family: 'Buenard', serif;
				}

				.choice-audio {
					position: relative;
					top: 40px;
					height: auto;
					margin-bottom: 50px;

					background: #fcf3e3;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;

					font-family: sans-serif;

					audio {
						position: relative;
						bottom: -5px;
					}

					figcaption {
						width: calc(100% - 30px);
						padding: 15px 5px;
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 15px;

						color: #000;
						text-align: left;

						font-size: 1em;
						font-family: 'Buenard', serif;

						&:before {
							font-weight: bold;
							content: "Audio Description: ";
						}
					}
				}

				.video-frame {
					position: relative;
					top: 40px;
					margin-bottom: 45px;

					.choice-video {
						position: relative;
						height: auto;
					}
				}

				button.image-expand-into-lightbox, button.video-expand-into-lightbox, button.submit-selected {
					display: inline-block;
					background: #fff;
					padding: 6px 10px;
					width: 40%;

					border: none;
					border-radius: 4px;

					font-size: 16px;
					font-weight: bold;

					cursor: pointer;

					.icon {
						font-size: 0.9em;
						margin-right: 0.75em;
					}

					&:hover {
						background: #ffe8c4;
					}
				}

				button.image-expand-into-lightbox {
					width: auto;
					position: absolute;
					top: 35px;
					right: 35px;

					.icon {
						margin-right: 0;
					}

				}
			}
		}

		button.content-frame {
			cursor: pointer;
		}
	}
}

#hands {
	position: absolute;
	left: 50%;
	bottom: -60px;

	display: inline-block;
	height: 150px;
	margin: 0 0 0 -163px;
	width: 326px;

	transition: margin ease 0.5s;

	z-index: 3;

	&.hidden {
		display: none;
	}

	.hand {
		position: absolute;
		top: 0;

		display: inline-block;
		width: 177px;
		height: 150px;

		transition: transform ease 0.5s, top ease 0.5s, left ease 0.5s, right ease 0.5s;
		transform-style: flat;

		&.this-hand {
			left: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -527.0000114440918px -664px, center;
			background-repeat: no-repeat;

			transform-origin: 164px 86px;

			&.raised {
				transform: rotate(30deg);
				transform-origin: 164px 86px;
			}

			&.correct {
				background-image: url('assets/img/sprites.png');
				background-position: 0 -664px, center;
				background-repeat: no-repeat;
			}

			&.incorrect {
				background-image: url('assets/img/sprites.png');
				background-position: -706.0000419616699px -664px, center;
				background-repeat: no-repeat;
			}
		}

		&.that-hand {
			right: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -347px -664px, center;
			background-repeat: no-repeat;

			transform-origin: 13px 86px;

			&.raised {
				transform: rotate(-30deg);
				transform-origin: 13px 86px;
			}

			&.correct {
				background-image: url('assets/img/sprites.png');
				background-position: -168px -665px, center;
				background-repeat: no-repeat;
			}

			&.incorrect {
				background-image: url('assets/img/sprites.png');
				background-position: -886px -665px, center;
				background-repeat: no-repeat;
			}
		}
	}
}

#next-container {
	position: absolute;
	right: 40px;

	bottom: 100px;
	opacity: 0;
	height: 75px;
	width: 95px;

	transition: bottom ease 0.3s;

	&.raised {
		//animation: bouncy-in-next 0.6s;
		//animation-fill: forwards;
		bottom: 0;
		display: block;
		opacity: 1;
	}

	.background-stand {
		position: absolute;
		top: 0;
		left: 50%;

		margin-left: -5px;
		height: 75px;
		width: 10px;

		background-image: url('assets/img/sprites.png');
		background-position: -67px -146px, center top;
		background-repeat: no-repeat;
	}

	#next {
		padding: 6px 14px;

		font-size: 24px;

		//animation: pulse-bg 1s infinite;

		z-index: 4;

		&:focus {
			outline: solid 2px #fff;
		}
	}
}

.start,
.reset {
	animation: pulse-bg 1s infinite;

	&:focus {
		outline: solid 2px #fff;
	}
}

@keyframes pulse-bg {
	50% {
		background: #73d15a;
	}
}

@keyframes correct-pulse {
	50% {
		background-image: url('assets/img/sprites.png');
		background-position: -1116.9600830078125px 0, center;
		background-repeat: no-repeat;
	}
}

@keyframes bouncy {
	0% {
		margin-top: 0;
		padding-top: 40px;
	}

	25% {
		margin-top: 0px;
		padding-top: 100px;
	}
	50% {
		margin-top: -500px;
		padding-top: 0;
	}
}

@keyframes bouncy-in-thisimg {
	0% {
		transform: translate(-365px, 0);
	}
	25% {
		transform: translate(-10px, 0);
	}
	50% {
		transform: translate(0, 0);
	}
}

@keyframes bouncy-in-thatimg {
	0% {
		transform: translate(365px, 0);
	}
	25% {
		transform: translate(10px, 0);
	}
	50% {
		transform: translate(0, 0);
	}
}

@keyframes bouncy-out-thisimg {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(10px, 0);
	}
	50% {
		transform: translate(-365px, 0);
	}
}

@keyframes bouncy-out-thatimg {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-10px, 0);
	}
	50% {
		transform: translate(365px, 0);
	}
}

@keyframes bouncy-in-next {
	0% {
		bottom: -75px;
	}
	25% {
		bottom: 0;
	}
	50% {
		bottom: 3px;
	}
}

.text-center {
	text-align: center !important;
}

.disabled {
	cursor: not-allowed !important;
	pointer-events: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.hidden-asset {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.lightbox {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;

	background: rgba(55,55,55,0.75);

	cursor: pointer;

	&.show {
		z-index: 20;
	}

	.modal-bg {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 20;

		background: rgba(0, 0, 0, 0.5);

		&:hover { cursor: pointer; }
	}

	.lightbox-content {
		position: absolute;
		z-index: 30;
		width: 80%;
		height: 80%;
		margin: 10%;
		background: rgba(45,45,45,1);

		cursor: default;

		.lightbox-close {
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 30;

			width: 30px;
			height: 30px;

			border: none;
			border-radius: 5px;

			color: #fff;
			background: #e42b20;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

			font-size: 18px;
			font-weight: bold;
			text-align: center;

			cursor: pointer;

			&:hover {
				background: #6c6c6c;
			}
		}

		.lightbox-video {
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			margin-top: 10px;
			margin-left: 10px;
		}

		.lightbox-image-container {
			height: calc(100% - 20px);
			margin-top: 10px;
			overflow: auto;
		}

		.lightbox-image {
			max-width: calc(100% - 20px);
			max-height: calc(100% - 20px);
			position: relative;
			display: block;
			margin: 10px auto 0 auto;
		}

		.lightbox-image:hover {
			cursor: zoom-in;
		}

		.lightbox-image-zoom {
			width: calc(100% - 20px);
			object-fit: cover;
			height: auto;
		}

		.lightbox-image-zoom:hover {
			cursor: zoom-out;
		}

	}


}
