* {
	transform-style: flat;
}
html {
	height: 100%;
}

// Color palette.
$a : #223863;
$b : #44382A;
$c : #6B6263;
$d : #543F3D;
$e : #A45B5B;
$f : #87735F;

$chunky-font: 'Sigmar One', cursive;

body {
	color: #FFF;
	background: $a url('assets/img/sprites.png');
	background-position: -1076px -712.875px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	width: 800px;
	min-height: 520px;
	font-family: $chunky-font;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: default;

	-webkit-user-select : none;
		 -moz-user-select : none;
		-ms-user-select : none;
			user-select : none;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	position: relative;

	color: #ffffff;
	font-size: 32px;
	font-family: $chunky-font;
	text-shadow: 0 3px 3px rgba(0,0,0,0.3);
	text-transform: uppercase;
	white-space: nowrap;

	background: #5fac4b;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.3);
	outline: none;

	cursor: pointer;
	-webkit-appearance: none;

	&:hover { background: #73D15A; }
}

.side-curtain {
	position: absolute;

	z-index: 998;

	&.upper {
		top: 0;

		width: 81px;
		height: 134px;

		&.left {
			left: 0;

			background-image: url('assets/img/sprites.png');
			background-position: 0 0 top center;
			background-repeat: no-repeat;
		}

		&.right {
			right: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -101px 0, top center;
			background-repeat: no-repeat;
		}
	}

	&.lower {
		top: 134px;

		width: 42px;
		height: 382px;

		&.left {
			left: 0;

			background-image: url('assets/img/sprites.png');
			background-position: 0 -134px, top center;
			background-repeat: no-repeat;
		}

		&.right {
			right: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -139px -134px, top center;
			background-repeat: no-repeat;
		}
	}
}

#board {
	text-align: center;
	width: 800px;
	//height: 520px;

	#question {
		margin: 68px auto 20px auto;
		max-width: 636px;
		font-size: 30px;
		font-family: 'Buenard', serif;
		line-height: 1.1;
		text-align: center;
		text-shadow: 0 6px 3px rgba(0,0,0,0.3);
	}
}

.error-notice-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #2f3944;
	display: none;

	.error-notice {
		background: #fceead url('../img/error-icon.png'), center 26px no-repeat;
		width: 625px;
		height: 295px;
		margin: 140px auto 0 auto;
		text-align: center;

		h1 {
			color: #f78348;
			font-size: 13pt;
			padding-top: 130px;
			font-weight: normal;
		}

		h2 {
			font-size: 16pt;
			color: #282828;
			padding-top: 16px;
			font-weight: normal;
		}
	}
}

#splash {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url('assets/img/sprites.png');
	background-position: -56px bottom;

	max-height: 520px;

	text-align: center;

	z-index: 1000;
	transition: max-height ease 1s;

	&.raised {
		max-height: 60px;
	}

	.sign {
		position: relative;

		margin: 0 auto;
		padding-top: 30px;
		width: 484px;

		text-align: center;

		transition: margin ease 1s;

		.sign-stand {
			position: absolute;
			left: 50%;
			bottom: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -67px -146px, center top;
			background-repeat: no-repeat;

			height: 500px;
			margin-left: -30px;
			width: 60px;

			z-index: 0;
		}

		h1 {
			position: relative;

			display: block;
			height: 317px;
			margin: 0 0 15px;
			width: 484px;

			color: transparent;

			background-image: url('assets/img/sprites.png');
			background-position: -199px 0, center;
			background-repeat: no-repeat;

			z-index: 1;
		}

		.reset { display: none; }

		&.raised {
			margin-top: -500px;
		}

		&.end {
			h1 {
				background-image: url('assets/img/sprites.png');
				background-position: -199px -323px, center top;
				background-repeat: no-repeat;
			}

			.start { display: none; }
			.reset { display: inline-block; }
		}
	}
}

#choices {
	height: 302px;
	margin: 0 auto;
	z-index: 0;
	transform-style: flat;

	.stand-container {
		position: relative;

		display: inline-block;
		height: 290px;
		width: 375px;
		transform-style: flat;

		&.for-this {
			&.raised {
				animation: bouncy-in-thisimg 1s;
			}

			&.lowered {
				animation: bouncy-out-thisimg 1s;
				transform: translate(-365px, 0);
			}
		}

		&.for-that {
			&.raised {
				animation: bouncy-in-thatimg 1s;
			}

			&.lowered {
				animation: bouncy-out-thatimg 1s;
				transform: translate(365px, 0);
			}
		}

		.background-stand {
			position: absolute;
			top: 50%;

			height: 64px;
			margin-top: -35px;
			width: 100%;

			background-image: url('assets/img/sprites.png');
			background-position: -195.8839111328125px -971.9755554199219px, center;
			background-repeat: repeat-x;

			z-index: 0;

			&.left  { right: 28px; }
			&.right { left: 28px; }
		}

		.img-frame {
			position: relative;

			box-sizing: border-box;
			height: 302px;
			padding: 0;
			width: 346px;

			background-color: transparent;
			background-image: url('assets/img/sprites.png');
			background-position: -1515.9720458984375px 0, center;
			background-repeat: no-repeat;
			border: 0;
			outline: none;

			cursor: pointer;
			transition: background-image ease .5s;

			z-index: 2;

			&:hover {
				background-image: url('assets/img/sprites.png');
				background-position: -1515.9564208984375px -337.9286804199219px, center;
				background-repeat: no-repeat;
			}

			&.correct {
				background-image: url('assets/img/sprites.png');
				background-position: -1116.9600830078125px 0, center;
				background-repeat: no-repeat;

				.overlay {
					background-color: rgba(110, 199, 47, 0.4);
				}
			}

			&.incorrect {
				background-image: url('assets/img/sprites.png');
				background-position: -721px 0, center;
				background-repeat: no-repeat;

				.overlay {
					background-color: rgba(228, 43, 32, 0.6);
				}
			}

			.overlay {
				position: absolute;
				top: 20px;
				right: 23px;
				bottom: 32px;
				left: 23px;

				border-radius: 4px;

				color: #fff;
				font-family: $chunky-font;
				font-size: 24px;
				line-height: 250px;
				text-shadow: 0 4px 2px rgba(0,0,0,0.3);
			}

			.feedback {
				position: absolute;
				top: 115px;
				right: 25px;
				bottom: 32px;
				left: 33px;

				border-radius: 4px;
				overflow-y: auto;

				color: #fff;
				font-family: sans-serif;
				font-size: 16px;
				line-height: 16px;
				text-shadow: 0 4px 2px rgba(0,0,0,0.3);
				text-align: left;
				word-wrap: break-word;
			}

			.overlayFeedback {
				position: absolute;
				top: 20px;
				right: 23px;
				bottom: 32px;
				left: 23px;

				border-radius: 4px;

				color: #fff;
				font-family: $chunky-font;
				font-size: 24px;
				line-height: 150px;
				text-shadow: 0 4px 2px rgba(0,0,0,0.3);
				background-color: rgba(228, 43, 32, 0.6);
			}

			.feedback::-webkit-scrollbar {
				background: rgba(0, 0, 0, 0.0);
				width:9px;
			}

			.feedback::-webkit-scrollbar-thumb {
				background: rgba(196, 196, 196, 1);
				border-radius:10px;
			}

			.choice-img {
				height: 250px;
				margin-top: -10px;
				width: 300px;

				background: #fff url('assets/img/throbber.gif') no-repeat center;
				border-radius: 4px;
				border: 0;
				outline: none;
			}
		}
	}
}

#hands {
	position: relative;

	display: inline-block;
	height: 150px;
	margin: 0 auto;
	margin-top: -11px;
	width: 326px;

	transition: margin ease .5s;

	z-index: 3;

	&.raised {  }

	.hand {
		position: absolute;
		top: 0;

		display: inline-block;
		width: 177px;
		height: 150px;

		transition: transform ease .5s, top ease .5s, left ease .5s, right ease .5s;
		transform-style: flat;

		&.this-hand {
			left: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -527.0000114440918px -664px, center;
			background-repeat: no-repeat;

			transform-origin: 164px 86px;

			&.raised {
				transform: rotate(30deg);
				transform-origin: 164px 86px;
			}

			&.correct {
				background-image: url('assets/img/sprites.png');
				background-position: 0 -664px, center;
				background-repeat: no-repeat;

			}

			&.incorrect {
				background-image: url('assets/img/sprites.png');
				background-position: -706.0000419616699px -664px, center;
				background-repeat: no-repeat;
			}
		}

		&.that-hand {
			right: 0;

			background-image: url('assets/img/sprites.png');
			background-position: -347px -664px, center;
			background-repeat: no-repeat;

			transform-origin: 13px 86px;

			&.raised {
				transform: rotate(-30deg);
				transform-origin: 13px 86px;
			}

			&.correct {
				background-image: url('assets/img/sprites.png');
				background-position: -168px -665px, center;
				background-repeat: no-repeat;
			}

			&.incorrect {
				background-image: url('assets/img/sprites.png');
				background-position: -886px -665px, center;
				background-repeat: no-repeat;
			}
		}
	}
}

#next-container {
	position: absolute;
	right: 40px;

	bottom: 100px;
	display: none;
	height: 75px;
	width: 95px;

	transition: bottom ease 0.3s;

	&.raised {
		//animation: bouncy-in-next 0.6s;
		//animation-fill: forwards;
		bottom: 0;
		display: block;
	}

	.background-stand {
		position: absolute;
		top: 0;
		left: 50%;

		margin-left: -5px;
		height: 75px;
		width: 10px;

		background-image: url("assets/img/sprites.png");
		background-position: -67px -146px, center top;
		background-repeat: no-repeat;
	}

	#next {
		padding: 6px 14px;

		font-size: 24px;

		//animation: pulse-bg 1s infinite;

		z-index: 10;
	}
}

.start,
.reset {
	animation: pulse-bg 1s infinite;
}

@keyframes pulse-bg {
	50% { background: #73D15A; }
}

@keyframes correct-pulse {
	50% {
		background-image: url('assets/img/sprites.png');
		background-position: -1116.9600830078125px 0, center;
		background-repeat: no-repeat;
	}
}

@keyframes bouncy {
	0%  {
		margin-top: 0;
		padding-top: 40px;
	}

	25% {
		margin-top: 0px;
		padding-top: 100px;
	}
	50% {
		margin-top: -500px;
		padding-top: 0;
	}
}

@keyframes bouncy-in-thisimg {
	0%  { transform: translate(-365px, 0); }
	25% { transform: translate(-10px, 0); }
	50% { transform: translate(0, 0); }
}

@keyframes bouncy-in-thatimg {
	0%  { transform: translate(365px, 0); }
	25% { transform: translate(10px, 0); }
	50% { transform: translate(0, 0); }
}

@keyframes bouncy-out-thisimg {
	0%  { transform: translate(0, 0); }
	25% { transform: translate(10px, 0); }
	50% { transform: translate(-365px, 0); }
}

@keyframes bouncy-out-thatimg {
	0%  { transform: translate(0, 0); }
	25% { transform: translate(-10px, 0); }
	50% { transform: translate(365px, 0); }
}

@keyframes bouncy-in-next {
	0%  { bottom: -75px; }
	25% { bottom: 0; }
	50% { bottom: 3px; }
}

.text-center { text-align: center !important; }

.disabled {
	cursor: not-allowed !important;
	pointer-events: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.hidden-asset {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	speak: none;
}
