/* score screen css */

$chunky-font: 'Sigmar One', cursive;
$skinny-font:  'Buenard', serif;

body {
	background: #233867;

	div.content-frame {
		width: 100%;

		section.question-item {
			display: block;
			width: 90%;
			margin: 15px 5% 45px 5%;
	
			color: #fff;
			font-weight: bold;

			text-align: center;

			.cards-container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 12px;

				.card-container {
					display: flex;

					.bookmark-flag {
						display: flex;
						flex-direction: column;
						height: fit-content;
						color: black;
						padding: 5px;
						
					}
					
					.left-flag {
						position: relative;
						background: #7bc700;
						/* Create top triangle for flag */
						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: -20px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 20px 30px 0;
							border-color: transparent #7bc700 transparent transparent;
						}
						
						/* Create bottom triangle for flag */
						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: -20px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 30px 20px 0 0;
							border-color: transparent #7bc700 transparent transparent;
						}
					}

					.right-flag {
						position: relative;
						background-color: #e42b20;
						
						/* Create top triangle for right flag */
						&::before {
							content: '';
							position: absolute;
							top: 0;
							right: -20px; /* Extend to the right */
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 30px 20px 0 0px; /* Flipped triangle */
							border-color: #e42b20 transparent transparent #e42b20;
						}
						
						/* Create bottom triangle for right flag */
						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							right: -20px; /* Extend to the right */
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0px 20px 30px 0px; /* Flipped triangle */
							border-color: #e42b20 transparent #e42b20 transparent;
						}
					}

					.hide {
						visibility: hidden;
					}
				}
			}

			.item-header {

				h5 {
					position: relative;
					background: #2e4a87;
					border-radius: 5px;
					margin: 10px 0;
					padding: 5px 10px;
	
					font-family: $skinny-font;
					font-size: 20px;
	
					text-align: left;
	
					.item-score {
						position: absolute;
						display: block;
						right: 10px;
						top: 6px;
						margin-right: 10px;
						font-size: 14px;
						font-weight: bold;
					}

					.icon {
						position: absolute;
						display: block;
						right: -10px;
						top: 0;
						transform: translate(100%, 50%);
						
					}
				}
			}

			.item-correct {
				border-radius: 0 6px 6px 6px;
			}

			.item-incorrect {
				border-radius: 6px 0 6px 6px;
			}

			.unanswered {
				border-radius: 6px;
			}
			
	
			.item-correct, .item-incorrect {
				position: relative;
				z-index: 2;
				display: inline-block;
				background: #fbb03b;

				width: 240px;
				height: 180px;

	
				padding: 6px;
	
				vertical-align: top;

				.item-image, .item-audio, .item-video {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
				}

				.item-audio {
					flex-direction: column;
					
					span {
						width: 230px;
						padding: 10px 5px;
						color: #000;
						background: #fcf3e3;

						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
						border-bottom-left-radius: 0px;
						border-bottom-right-radius: 0px;

						font-family: 'Buenard', serif;
						font-size: 0.9em;
					}
				}

				.item-text {
					width: 210px;
					height: 150px;
					padding: 10px;
					margin: 5px;
					background: #fcf3e3;
					color: #000;

					font-weight: normal;
					font-size: 14px;
					font-family: 'Buenard', serif;

					border-radius: 6px;
				}
	
				.item-image img {
					max-width: 240px;
					max-height: 180px;
				}

				.item-audio audio {
					width: 240px;
				}

				.item-correctness {
					margin-top: 10px;
					font-weight: bold;
				}
			}

			.item-correct {
				&.selected {
					background: #7bc700;
				}

			}
			
			.item-incorrect {
				&.selected {
					background: #e42b20;
				}
			}
		}
	}

	
}